<script setup>
import DModal from "@/components/DModal/DModal.vue";
import DButton from "@/components/DButton/DButton.vue";
import {closeDialog} from 'vue3-promise-dialog'

const props = defineProps({
  title: String,
  message: String
})

const returnValue = () => {
  return true;
}

defineExpose({
  returnValue
})
</script>

<template>
  <div>
    <d-modal :show="true">
      <template v-slot:modal-title>{{props.title}}</template>
      <template v-slot:default>{{props.message}}</template>
      <template v-slot:modal-footer>
        <div style="display: flex; flex-direction: row; justify-content: center; gap: 5px;">
          <d-button @click="closeDialog()">Да</d-button>
          <d-button class="button-red" @click="closeDialog(false)">Нет</d-button>
        </div>
      </template>
    </d-modal>
  </div>
</template>

<style scoped>

</style>