<script setup>
import {DialogWrapper} from "vue3-promise-dialog";
import {confirm} from "@/libs/dialogs/confirmDialog.js";
import {alert} from "@/libs/dialogs/alertDialog.js";

window.alert = alert
window.confirm = confirm
</script>

<template>
  <dialog-wrapper />
</template>

<style scoped>

</style>