<script setup>
import {ref} from "vue";

const modalRef = ref(null);
const modalShow = ref(false);

const emit = defineEmits(["open", "close"])

const props = defineProps({
  show: Boolean,
  width: String, // ширина диалога 500px, 100% и т.п.
  maxWidth: String, // максимальная ширина диалога 500px, 100% и т.п.
  class: [String, Array]
})

modalShow.value = props?.show

const show = () => {
    modalShow.value = true
    emit('open', modalRef)
}

const hide = () => {
  modalShow.value = false
  emit('close', modalRef)
}

defineExpose({
  show, hide
});
</script>

<template>
  <teleport to="body">
  <transition name="fade">
    <div v-if="modalShow" ref="modalRef" class="modal" :class="props.class" v-keydown:Escape="hide">
      <div class="modal-dialog" :style="{width:props.width, maxWidth:props.maxWidth}">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><slot name="modal-title"></slot></h5>
          </div>
          <div class="modal-body"><slot></slot></div>
          <div class="modal-footer">
            <slot name="modal-footer"></slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
  </teleport>
</template>

<style lang="scss" scoped>

</style>