<script setup>
import DButton from "@/components/DButton/DButton.vue";
import DModal from "@/components/DModal/DModal.vue";
import {computed, h, onMounted, ref} from "vue";
import DInputString from "@/components/DForm/DInputString.vue";
import DRangeSlider from "@/components/DRangeSlider/DRangeSlider.vue";
import DColorPicker from "@/components/DColor/DColorPicker.vue";
import {MinusSharp} from "@vicons/material"
import DIconStore from "@/stores/icons.store.js";
import DInputAngle from "@/components/DForm/DInputAngle.vue";
import DSelect from "@/components/DForm/DSelect.vue";

import gradientParser from "gradient-parser";

DIconStore.mutations.addIcons({MinusSharp})

const emit = defineEmits(["update:modelValue", "change"])

const props = defineProps({
  modelValue: String,
  label: String,
  maxColors: {
    type: Number,
    default: 4
  },
  text: {
    type: String,
    default: 'Цветов'
  },
  title: {
    type: String,
    default: 'Настройка градиента'
  },
  close: {
    type: String,
    default: 'Закрыть'
  },
  select: {
    type: String,
    default: 'Выбрать'
  },
  add: {
    type: String,
    default: 'Добавить цвет'
  },
  linear: {
    type: String,
    default: 'Линейный'
  },
  radial: {
    type: String,
    default: 'Радиальный'
  }
})

const inputValue = computed({
  get: () => props.modelValue,
  set: (val) => {
    emit('update:modelValue', val)
  },
})

const modalRef = ref(null)
const sliderRef = ref(null)
const colors = ref([{code: '#FFFFFF'}])
const gradient = ref('')

const gradientTypeModel = ref('linear')
const gradientAngleModel = ref('0')
const inputInfoValue = ref('')

let colorsCount = 1

const openColorDialog = () => {
  modalRef.value.show()
  prepareGradient()
}

const prepareGradient = () => {
  const parts = inputValue.value.split(";")
  const parts2 = parts[1].trim().split(":")
  const gradient = parts2[1].trim()
  const data = gradientParser.parse(gradient)

  // type
  const parts3 = data[0].type.split("-")
  gradientTypeModel.value = parts3[0]
  // angle
  if (gradientTypeModel.value === 'linear') {
    gradientAngleModel.value = data[0].orientation.value
  }
  // colors
  colors.value = []
  colorsCount = data[0].colorStops.length
  const start = []
  for (let i = 0; i < data[0].colorStops.length; i++) {
    const colorCode =  data[0].colorStops[i].type === 'hex' ? `#${data[0].colorStops[i].value}` : `rgba(${data[0].colorStops[i].value.join(',')})`
    colors.value.push({code: colorCode})
    start.push(data[0].colorStops[i].length.value)
  }

  setTimeout(() => {
    sliderRef.value?.updateStart(start)
    update()
  }, 100)
}

const colorIndicator = {
  outside: {
    component: h('div', {class: 'color-indicator', style: inputValue.value})
  }
}

const apply = () => {
  inputValue.value = gradient.value
  modalRef.value.hide()
  inputInfoValue.value = `${props.text}: ${colors.value.length}`
  emit("change", inputValue.value)
}

const add = () => {
  if (colorsCount < props.maxColors) {
    colors.value.push({code:'#FFFFFF'})
    colorsCount++

    const step = Math.round(100 / colorsCount)
    const start = []
    for (let i = 0; i < colorsCount; i++) {
      start.push(i * step)
    }
    sliderRef.value.updateStart(start)
  }
}

const remove = (index) => {
  if (colorsCount > 1) {
    const start = sliderRef.value.get()
    start.splice(index, 1)
    colors.value.splice(index, 1)
    sliderRef.value.updateStart(start)
    colorsCount--
  }
}

onMounted(() => {
  if (!inputValue.value) {
    inputValue.value = 'background: #FFFFFF;'
  }
  prepareGradient()
  inputInfoValue.value = `${props.text}: ${colors.value.length}`
})

const update = () => {
  if (!sliderRef.value) {
    return
  }
  const title = gradientTypeModel.value + '-gradient'
  const position = sliderRef.value.position()
  let records = []
  records.push(gradientTypeModel.value === 'radial' ? 'circle' : `${gradientAngleModel.value}deg`)
  for (let i = 0; i < colors.value.length; i++) {
    records.push(`${colors.value[i].code} ${parseInt(position[i])}%`)
  }
  gradient.value = `background: ${colors.value[0].code};`
  if (colors.value.length > 1) {
    gradient.value += `background: ${title}(${records.join(', ')})`
  }
}
</script>

<template>
  <div>
    <d-input-string :pre="colorIndicator" :label="props.label" v-model="inputInfoValue" @click="openColorDialog" :readonly="true">
      <template v-slot:pre>
        <div class="color-indicator" :style="inputValue"></div>
      </template>
    </d-input-string>

    <input type="hidden" v-model="inputValue">

    <d-modal ref="modalRef" width="100%" max-width="300px">
      <template v-slot:modal-title>{{props.title}}</template>

      <template v-slot:default>
        <div class="mb-1" style="height: 100px; width: 100%;" :style="gradient"></div>
        <d-range-slider @update="update" class="mb-1" ref="sliderRef" :start="50" :tooltips="{to: (value) => {return parseInt(value)}}" :tooltip-hide="true" />

        <div class="mb-1" style="display: grid; grid-template-columns: 1fr 1fr; gap: 5px;">
          <div>
            <d-select @change="update" v-model="gradientTypeModel" :options="[{label:props.linear, value:'linear'}, {label:props.radial, value:'radial'}]" size="wide" />
          </div>
          <div>
            <d-input-angle @change="update" v-if="gradientTypeModel !== 'radial'" v-model="gradientAngleModel" />
          </div>
        </div>

        <div style="display: flex; gap: 5px; align-items: center; justify-content: center;" v-for="(color, index) in colors" :key="index">
          <d-color-picker v-model="color.code" style="flex: 1;" format="rgba" @change="update" />
          <d-button v-if="colorsCount > 1" icon="MinusSharp" @click="remove(index)"></d-button>
        </div>

        <div v-if="colorsCount < props.maxColors" class="text-center mt-1">
          <d-button @click="add">{{props.add}}</d-button>
        </div>

      </template>

      <template v-slot:modal-footer>
        <div style="text-align: center">
          <d-button @click="modalRef.hide()">{{props.close}}</d-button>
          <d-button type="success" @click="apply">{{props.select}}</d-button>
        </div>
      </template>
    </d-modal>
  </div>
</template>

<style scoped>

</style>