<script setup>
import PickerPopup from "@/components/DDates/PickerPopup.vue";
import { computed } from 'vue'
import {
  startOfYear,
  endOfYear,
  eachMonthOfInterval,
  getYear,
  subYears,
  addYears,
  isSameMonth,
  isBefore,
  isAfter,
  isSameYear,
  startOfMonth,
  endOfMonth,
  format as formatDate,
} from 'date-fns'
import {ru} from "date-fns/locale/ru"

const emit = defineEmits(['update:pageDate', 'select', 'back'])

const props = defineProps({
  selected: {
    type: Date,
    required: false,
  },
  pageDate: {
    type: Date,
    required: true,
  },
  format: {
    type: String,
    required: false,
    default: 'LLL',
  },
  locale: {
    type: Object,
    required: false,
  },
  lowerLimit: {
    type: Date,
    required: false,
  },
  upperLimit: {
    type: Date,
    required: false,
  },
})

const from = computed(() => startOfYear(props.pageDate))
const to = computed(() => endOfYear(props.pageDate))

const format = computed(
() => (value) =>
  formatDate(value, props.format, {
    locale: props.locale,
  })
)

const isEnabled = (target, lower, upper) => {
  if (!lower && !upper) return true
  if (lower && isBefore(target, startOfMonth(lower))) return false
  return !(upper && isAfter(target, endOfMonth(upper)));

}

const months = computed(() =>
    eachMonthOfInterval({
      start: from.value,
      end: to.value,
    }).map(
    (value) => ({
      value,
      display: format.value(value),
      key: format.value(value),
      selected: !!props.selected && isSameMonth(props.selected, value),
      disabled: !isEnabled(value, props.lowerLimit, props.upperLimit),
    })
  )
)

const heading = computed(() => getYear(from.value))

const leftDisabled = computed(
    () =>
        props.lowerLimit &&
        (isSameYear(props.lowerLimit, props.pageDate) ||
            isBefore(props.pageDate, props.lowerLimit))
)
const rightDisabled = computed(
    () =>
        props.upperLimit &&
        (isSameYear(props.upperLimit, props.pageDate) ||
            isAfter(props.pageDate, props.upperLimit))
)

const previousPage = () =>
    emit('update:pageDate', subYears(props.pageDate, 1))
const nextPage = () => emit('update:pageDate', addYears(props.pageDate, 1))

//const locale = date-fns/locale/ru
</script>

<template>
  <picker-popup
      headingClickable
      :columnCount="3"
      :items="months"
      :leftDisabled="leftDisabled"
      :rightDisabled="rightDisabled"
      :locale="ru"
      viewMode="month"
      @left="previousPage"
      @right="nextPage"
      @heading="$emit('back')"
      @elementClick="$emit('select', $event)"
  >
    <template #heading>{{ heading }}</template>
  </picker-popup>
</template>

<style scoped>

</style>