@import "../variables";

.dark {
  .context-menu, .dropdown-menu {
    background-color: #34383e;
    border: solid 1px #525252;
    box-shadow: 0 0 6px #2f2b2b;
  }
}

.light {
  .context-menu, .dropdown-menu {
    color: #626262;
    background-color: #fbfbfb;
    border: solid 1px #d2d2d2;
    box-shadow: 0 0 6px #b9b9b9;
  }
}

.context-menu, .dropdown-menu {
  position: absolute;
  border-radius: 5px;
  padding: 5px !important;
  list-style: none;
  //width: max-content;
  //height: max-content;
  margin: 0;
  li {
    a {
      display: block;
      color: rgba(255,255,255,0.7);
      padding: 8px 10px;
      text-decoration: none;
      &:hover {
        color: rgba(255,255,255,0.8);
        background-color: rgba(255,255,255,0.1);
      }
    }
  }
  .hr {
    height: 1px;
    background-color: rgba(255,255,255,0.1);
    border: 0;
    margin: 0;
  }
}