.slider-styled {
  box-shadow: none !important;
  .noUi-handle {
    box-shadow: none !important;
    cursor: pointer;
    &::before {
      display: none !important;
    }
    &::after {
      display: none !important;
    }
  }
}

.noUi-vertical {
  &.slider-round {
    width: 10px;
    .noUi-handle {
      height: 18px;
      width: 18px;
      bottom: -9px;
      right: -5px;
      border-radius: 9px;
    }
  }

  .noUi-tooltip {
    border-radius: var(--slider-tooltip-radius,5px);
    display: block;
    font-size: var(--slider-tooltip-font-size,.775rem);
    font-weight: var(--slider-tooltip-font-weight,600);
    line-height: var(--slider-tooltip-line-height,1.25rem);
    min-width: var(--slider-tooltip-min-width,20px);
    padding: var(--slider-tooltip-py,0px) var(--slider-tooltip-px,4px);
    position: absolute;
    text-align: center;
    white-space: nowrap;
    left: calc(var(--slider-handle-width, 16px) + var(--slider-tooltip-arrow-size, 5px) + var(--slider-tooltip-distance, 3px));
    right: auto !important;
    top: 50%;

    &::before {
      border: var(--slider-tooltip-arrow-size,5px) solid transparent;
      right: auto;
      left: -5px;
      content: "";
      height: 0;
      position: absolute;
      transform: translate(-50%);
      width: 0;
      top: 25%;
    }
  }
}

.noUi-horizontal {
  &.slider-round {
    height: 10px;
    .noUi-handle {
      height: 18px;
      width: 18px;
      top: -5px;
      right: -9px; /* half the width */
      border-radius: 9px;
    }
  }

  .noUi-tooltip {
    border-radius: var(--slider-tooltip-radius,5px);
    display: block;
    font-size: var(--slider-tooltip-font-size,.775rem);
    font-weight: var(--slider-tooltip-font-weight,600);
    line-height: var(--slider-tooltip-line-height,1.25rem);
    min-width: var(--slider-tooltip-min-width,20px);
    padding: var(--slider-tooltip-py,0px) var(--slider-tooltip-px,4px);
    position: absolute;
    text-align: center;
    white-space: nowrap;

    bottom: calc(var(--slider-handle-height, 16px) + var(--slider-tooltip-arrow-size, 5px) + var(--slider-tooltip-distance, 3px)) !important;
    left: 50% !important;
    transform: translate(-50%) !important;

    &::before {
      border: var(--slider-tooltip-arrow-size,5px) solid transparent;
      border-top-color: inherit;
      bottom: calc(var(--slider-tooltip-arrow-size, 5px)*-2);
      content: "";
      height: 0;
      left: 50%;
      position: absolute;
      transform: translate(-50%);
      width: 0;
    }
  }
}
