<script setup>
import {ColorPicker} from "vue-color-kit";
import 'vue-color-kit/dist/vue-color-kit.css'
import DButton from "@/components/DButton/DButton.vue";
import DModal from "@/components/DModal/DModal.vue"
import DInputString from "@/components/DForm/DInputString.vue"
import {ref, computed, h} from "vue";
import DGlobalStore from "@/stores/global.store.js";

const emit = defineEmits(["update:modelValue", "change"])

const props = defineProps({
  modelValue: String,
  label: String,
  format: {
    type: String,
    default: 'rgba'
  },
  title: {
    type: String,
    default: 'Выбор цвета'
  },
  close: {
    type: String,
    default: 'Закрыть'
  },
  select: {
    type: String,
    default: 'Выбрать'
  }
})

const inputValue = computed({
  get: () => props.modelValue,
  set: (val) => {
    emit('update:modelValue', val)
  },
})

const modalRef = ref(null)
const colorModel = ref(inputValue)
const colorState = ref(null)

const changeColor = (color) => {
  colorState.value = props.format === 'rgba' ? color.rgba : color.hex
}

const openColorDialog = () => {
  modalRef.value.show()
}

const colorIndicator = {
  outside: {
    component: h('div', {class: 'color-indicator'})
  }
}

const apply = () => {
  if (props.format === 'rgba') {
    const { r, g, b, a } = colorState.value
    inputValue.value = `rgba(${r}, ${g}, ${b}, ${a})`
  } else {
    inputValue.value = colorState.value
  }
  modalRef.value.hide()
  emit("change", inputValue.value)
}
</script>

<template>
  <div>
    <d-input-string :pre="colorIndicator" :label="props.label" v-model="inputValue" @click="openColorDialog" :readonly="true">
      <template v-slot:pre>
        <div class="color-indicator"></div>
      </template>
    </d-input-string>

    <d-modal ref="modalRef" width="100%" max-width="250px">
      <template v-slot:modal-title>{{props.title}}</template>

      <template v-slot:default>
        <ColorPicker
            :theme="DGlobalStore.getters.theme()"
            :color="colorModel"
            :sucker-hide="true"
            @changeColor="changeColor"
        />
      </template>

      <template v-slot:modal-footer>
        <div style="text-align: center">
          <d-button @click="modalRef.hide()">{{props.close}}</d-button>
          <d-button type="success" @click="apply">{{props.select}}</d-button>
        </div>
      </template>
    </d-modal>
  </div>
</template>

<style lang="scss">
.hu-color-picker {
  width: 220px !important;
}

.color-indicator {
  width: 32px;
  height: 32px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: v-bind('inputValue');
  cursor: pointer;
}
</style>