<script setup>

</script>

<template>
  <div class="d-s-layout">
    <slot></slot>
  </div>
</template>

<style lang="scss">
.d-s-layout {
  width: 100%;
  height: 100%;
  background-color: #002c27;
}
</style>