<script setup>
import {toRefs} from "vue";

const props = defineProps({
  gap: {
    type: String,
    default: '1em'
  },
  colXs: {
    type: String,
    default: 'repeat(1, 1fr)'
  },
  colSm:  String,
  colMd:  String,
  colLg:  String,
  colXl:  String,
  colXxl: String
})

const {colXs, colSm, colMd, colLg, colXl, colXxl} = toRefs(props)
const cols = [colXs.value, colSm.value, colMd.value, colLg.value, colXl.value, colXxl.value]
let lastCol = null
for (let i = 0; i < cols.length; i++) {
  if (!lastCol) {
    lastCol = cols[0]
  }
  if (i > 0) {
    if (!cols[i]) {
      cols[i] = lastCol
    } else {
      lastCol = cols[i]
    }
  }
}
</script>

<template>
<div class="d-grid">
  <slot></slot>
</div>
</template>

<style lang="scss" scoped>
@media screen and (min-width: 0px) {
  .d-grid {
    grid-template-columns: v-bind('cols[0]') !important;
  }
}

@media screen and (min-width: 480px) {
  .d-grid {
    grid-template-columns: v-bind('cols[1]') !important;
  }
}

@media screen and (min-width: 768px) {
  .d-grid {
    grid-template-columns: v-bind('cols[2]') !important;
  }
}

@media screen and (min-width: 1024px) {
  .d-grid {
    grid-template-columns: v-bind('cols[3]') !important;
  }
}

@media screen and (min-width: 1280px) {
  .d-grid {
    grid-template-columns: v-bind('cols[4]') !important;
  }
}

@media screen and (min-width: 1600px) {
  .d-grid {
    grid-template-columns: v-bind('cols[5]') !important;
  }
}

.d-grid {
  display: grid;
  grid-gap: v-bind('props.gap');
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  width: 100%;
}
</style>