<script setup>
defineOptions({
  inheritAttrs: false,
})

const props = defineProps({
  name: String
})
</script>

<template>
  <transition-group
      tag="span"
      :name="props.name"
  >
    <slot />
  </transition-group>
</template>
