<script setup>
const emit = defineEmits(['enter', 'leave', 'after-leave'])

const handleEnter = (element, done) => {
  emit('enter', element, done);
};

const handleLeave = (element, done) => {
  emit('leave', element, done);
};

const handleAfterLeave = () => {
  emit('after-leave');
};
</script>

<template>
  <transition-group
      tag="span"
      :css="false"
      @enter="handleEnter"
      @leave="handleLeave"
      @after-leave="handleAfterLeave"
  >
    <slot />
  </transition-group>
</template>
