<script setup>
import {DIcon} from "@";

const props = defineProps({
  tab: Object,
})
</script>

<template>
  <span v-if="props.tab.label && props.tab.icon" :title="props.tab.title ? props.tab.title : ''" style="display: flex; flex-direction: column;">
    <div class="tab-icon"><d-icon :component="props.tab.icon" /></div>
    <div class="tab-label">{{typeof props.tab.label === 'object' ? props.tab.label.value : props.tab.label}}</div>
  </span>
  <span v-else-if="props.tab.label" :title="props.tab.title ? props.tab.title : ''">{{typeof props.tab.label === 'object' ? props.tab.label.value : props.tab.label}}</span>
  <span v-else-if="props.tab.icon" :title="props.tab.title ? props.tab.title : ''"><d-icon :component="props.tab.icon" /></span>
</template>

<style scoped>
.tab-icon {
  font-size: 1.2em;
}

.tab-label {
  font-size: 0.8em;
}
</style>