<script setup>

import {ref, toRef} from "vue";
import DTabLabel from "@/components/DTabs/DTabLabel.vue";
import emitter from "@/libs/emitter.ts"
import {uuid4} from "@/libs/functions.js";

const props = defineProps({
  id: {
    type: String,
    default: uuid4()
  },
  tabs: Array
})

const tabs = toRef(props, 'tabs')
const tabsRefs = ref([])

const activeTab = ref(0)

const tabClicked = (index) => {
  //tabs.value[activeTab].active = false
  activeTab.value = index
  emitter.emit('change_tab', {
    id: props.id,
    index: activeTab.value
  })
  //tabs.value[index].active = true
}

const setTabsRefs = (el) => {
  if (el && !tabsRefs.value.includes(el)) {
    tabsRefs.value.push(el);
  }
}

const refs = () => {
  return tabsRefs.value
}

const getSelectedIndex = () => {
  return activeTab.value
}

const setSelectedIndex = (index) => {
  tabClicked(index)
}

defineExpose({
  refs, getSelectedIndex, setSelectedIndex
})
//<component :is="tabs[activeTab].component"></component>
</script>

<template>
  <div class="d-tabs">
    <d-tab-label
        v-for="(tab, index) in tabs"
        :index="index"
        :tab="tab"
        class="d-tab-title"
        :class="index === activeTab ? 'active' : ''"
        @click="tabClicked(index)"
    />
  </div>

  <keep-alive>
    <div v-for="(tab, index) in tabs">
      <component v-show="index === activeTab" :is="tab.component" :ref="setTabsRefs"></component>
    </div>
  </keep-alive>
</template>

<style lang="scss" scoped>
.d-tabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  //border-bottom: solid 1px #555;
  .d-tab-title {
    user-select: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 0 0.7rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all 200ms;
    font-weight: 400;
    //height: 32px;
    white-space: nowrap;
    //border-top: solid 1px #555;
    //border-left: solid 1px #555;
    //border-right: solid 1px #555;
    margin: 0.25rem 0.25rem 0 0;
  }
}
</style>