<script setup>
import {computed} from "vue";

const props = defineProps({
  paddingTop: {
    type: Number,
    default: 0
  },
  paddingBottom: {
    type: Number,
    default: 0
  },
  paddingLeft: {
    type: Number,
    default: 0
  },
  overflowHidden: Boolean,
  transitionDuration: {
    type: Number,
    default: 300
  },
  transitionTimingFunction: {
    type: String,
    default: 'ease-in-out'
  }
})

const style = computed(() => {
  const { paddingTop, paddingBottom, paddingLeft, transitionDuration, transitionTimingFunction } = props;
  const overflowStyle = `overflow:${props.overflowHidden ? 'hidden' : 'visible'};`;
  return `padding-top:${paddingTop}px;padding-bottom:${paddingBottom}px;padding-left:${paddingLeft}px;${overflowStyle}transition-duration:${transitionDuration}ms;transition-timing-function:${transitionTimingFunction};`;
});
</script>

<template>
  <main :style="style" class="d-layout-content">
    <slot></slot>
  </main>
</template>

<style scoped>

</style>