<script setup>
import {computed} from "vue";

const props = defineProps({
  fixed: {
    type: Boolean,
    default: true
  },
  zIndex: {
    type: Number,
    default: 999
  },
  minWidth: {
    type: Number,
    default: 1280
  },
  height: {
    type: Number,
    default: 56
  },
  paddingLeft: {
    type: Number,
    default: 0
  },
  transitionDuration: {
    type: Number,
    default: 300
  },
  transitionTimingFunction: {
    type: String,
    default: 'ease-in-out'
  },
  useMinWidthLayout: Boolean
})

const style = computed(() => {
  const { fixed, zIndex, minWidth, height, paddingLeft, transitionDuration, transitionTimingFunction } = props;
  const position = fixed ? 'fixed' : 'static';
  const minWidthStyle = props.useMinWidthLayout ? `min-width:${minWidth}px;` : '';
  return `position:${position};z-index:${zIndex};${minWidthStyle}height:${height}px;padding-left:${paddingLeft}px;transition-duration:${transitionDuration}ms;transition-timing-function:${transitionTimingFunction};`;
});
</script>

<template>
  <footer class="d-layout-footer" :style="style">
    <slot></slot>
  </footer>
</template>

<style scoped>

</style>