<script setup>
import {computed} from "vue";

const props = defineProps({
  zIndex: {
    type: Number,
    default: 1002
  },
  width: {
    type: Number,
    default: 200
  },
  paddingTop: {
    type: Number,
    default: 0
  },
  transitionDuration: {
    type: Number,
    default: 300
  },
  transitionTimingFunction: {
    type: String,
    default: 'ease-in-out'
  },
  collapse: {
    type: Boolean,
    default: false
  }
})

const style = computed(() => {
  const { zIndex, width, paddingTop, transitionDuration, transitionTimingFunction } = props;
  return `z-index:${zIndex};width:${width}px;padding-top:${paddingTop}px;transition-duration:${transitionDuration}ms;transition-timing-function:${transitionTimingFunction};`;
});
</script>

<template>
  <aside class="d-layout-sidebar" :style="style">
    <slot></slot>
  </aside>
</template>

<style scoped>

</style>