<script setup>
import DLayoutHeader from "@/components/DLayout/DLayoutHeader.vue";
import DLayoutTab from "@/components/DLayout/DLayoutTab.vue";
import DLayoutFooter from "@/components/DLayout/DLayoutFooter.vue";
import DLayoutSidebar from "@/components/DLayout/DLayoutSidebar.vue";
import DLayoutContent from "@/components/DLayout/DLayoutContent.vue";
import {computed} from "vue";
import {useFixedTransformStyle} from "@/hooks/index.js";

const emit = defineEmits(['update:sidebar-collapse', 'sidebar-mask-click'])

const props = defineProps({
  mode: {
    type: String,
    default: 'vertical' // vertical, horizontal
  },
  isMobile: {
    type: Boolean,
    default: false
  },
  useMinWidthLayout: {
    type: Boolean,
    default: false
  },
  minWidth: {
    type: Number,
    default: 1200
  },
  headerVisible: {
    type: Boolean,
    default: true
  },
  headerHeight: {
    type: Number,
    default: 56
  },
  tabVisible: {
    type: Boolean,
    default: true
  },
  tabHeight: {
    type: Number,
    default: 44
  },
  fixedHeaderAndTab: {
    type: Boolean,
    default: true
  },
  addMainOverflowHidden: {
    type: Boolean,
    default: false
  },
  footerVisible: {
    type: Boolean,
    default: true
  },
  footerHeight: {
    type: Number,
    default: 48
  },
  fixedFooter: {
    type: Boolean,
    default: true
  },
  sidebarVisible: {
    type: Boolean,
    default: true
  },
  sidebarWidth: {
    type: Number,
    default: 200
  },
  sidebarCollapsedWidth: {
    type: Number,
    default: 0
  },
  sidebarCollapse: {
    type: Boolean,
    default: false
  },
  transitionDuration: {
    type: Number,
    default: 300
  },
  transitionTimingFunction: {
    type: String,
    default: 'ease-in-out'
  },
  collapse: {
    type: Boolean,
    default: false
  },
  maskBg: {
    type: String,
    default: 'rgba(0,0,0,0.3)'
  },
})

const style = computed(() => (props.useMinWidthLayout ? `min-width:${props.minWidth}px;` : ''));

const hasFixedEl = computed(() => props.useMinWidthLayout && (props.fixedHeaderAndTab || props.fixedFooter));
const transformStyle = useFixedTransformStyle(hasFixedEl);
const headerAndTabTransform = computed(() => (props.fixedHeaderAndTab ? transformStyle.value : ''));
const footerTransform = computed(() => (props.fixedFooter ? transformStyle.value : ''));

const commonProps = computed(() => {
  const { transitionDuration, transitionTimingFunction } = props;
  return {
    transitionDuration,
    transitionTimingFunction
  };
});


const isVertical = computed(() => props.mode === 'vertical');

const headerZIndex = 1001;
const tabZIndex = 999;
const sidebarZIndex = computed(() => (props.isMobile || isVertical.value ? 1003 : 1000));
const footerZIndex = 998;

const sidebarCollapseStatus = computed({
  get() {
    return props.sidebarCollapse;
  },
  set(collapse) {
    emit('update:sidebar-collapse', collapse);
  }
});
function handleClickMask() {
  //sidebarCollapseStatus.value = true;
  emit('sidebar-mask-click');
}

const showMask = computed(() => props.isMobile && !sidebarCollapseStatus.value);

const sidebarStyle = computed(() => {
  const { transitionDuration, transitionTimingFunction } = props;
  return `background-color:${props.maskBg};transition-duration:${transitionDuration}ms;transition-timing-function:${transitionTimingFunction};`;
});

const currentSidebarWidth = computed(() => {
  const { sidebarWidth, sidebarCollapsedWidth } = props;
  const collapseWidth = props.isMobile ? 0 : sidebarCollapsedWidth;
  const width = sidebarCollapseStatus.value ? collapseWidth : sidebarWidth;
  return props.sidebarVisible ? width : 0;
});

const commonPaddingLeft = computed(() => (props.isMobile ? 0 : currentSidebarWidth.value));

const headerPaddingLeft = computed(() => (isVertical.value ? commonPaddingLeft.value : 0));
const sidebarPaddingTop = computed(() =>
    !props.isMobile && !isVertical.value && props.headerVisible ? props.headerHeight : 0
);
const contentPaddingTop = computed(() => {
  let height = 0;
  if (props.fixedHeaderAndTab) {
    if (props.headerVisible) {
      height += props.headerHeight;
    }
    if (props.tabVisible) {
      height += props.tabHeight;
    }
  }
  return height;
});

const contentPaddingBottom = computed(() => (props.fixedFooter && props.footerVisible ? props.footerHeight : 0));
</script>

<template>
  <div class="d-layout" :style="style">
    <d-layout-header
        v-if="headerVisible"
        v-bind="commonProps"
        :fixed="fixedHeaderAndTab"
        :z-index="headerZIndex"
        :min-width="minWidth"
        :height="headerHeight"
        :padding-left="headerPaddingLeft"
        :style="headerAndTabTransform"
    >
      <slot name="header"></slot>
    </d-layout-header>
    <d-layout-tab
        v-if="tabVisible"
        v-bind="commonProps"
        :fixed="fixedHeaderAndTab"
        :z-index="tabZIndex"
        :min-width="minWidth"
        :top="headerHeight"
        :height="tabHeight"
        :padding-left="commonPaddingLeft"
        :style="headerAndTabTransform"
    >
      <slot name="tab"></slot>
    </d-layout-tab>
    <d-layout-sidebar
        v-if="sidebarVisible"
        v-bind="commonProps"
        :z-index="sidebarZIndex"
        :width="currentSidebarWidth"
        :padding-top="sidebarPaddingTop"
    >
      <slot name="sidebar"></slot>
    </d-layout-sidebar>
    <div v-if="showMask" class="d-layout-sidebar-mask" :style="sidebarStyle" @click="handleClickMask"></div>
    <d-layout-content
        v-bind="commonProps"
        :padding-top="contentPaddingTop"
        :padding-bottom="contentPaddingBottom"
        :padding-left="commonPaddingLeft"
        :overflow-hidden="addMainOverflowHidden"
    >
      <slot></slot>
    </d-layout-content>
    <d-layout-footer
        v-if="footerVisible"
        v-bind="commonProps"
        :fixed="fixedFooter"
        :z-index="footerZIndex"
        :min-width="minWidth"
        :height="footerHeight"
        :padding-left="commonPaddingLeft"
        :style="footerTransform"
    >
      <slot name="footer"></slot>
    </d-layout-footer>
  </div>
</template>

<style scoped>

</style>