<script setup>
const props = defineProps({
  hasSidebar: Boolean,
  position: String // absolute - навесь экран
})

const hasSidebarStyle = {
  display: 'flex',
  flexWrap: 'nowrap',
  width: '100%',
  flexDirection: 'row'
}
</script>

<template>
  <div class="d-layout" :class="props.position === 'absolute' ? 'd-layout-absolute' : null">
    <div class="d-layout-scroll-container" :style="props.hasSidebar ? hasSidebarStyle : null">
      <slot></slot>
    </div>
  </div>
</template>

<style scoped>

</style>