<script setup>
import DIcon from "@/components/DIcon.vue";
import {useSlots, computed, ref} from "vue";
import DIconStore from "../../stores/icons.store.js";
import {bounds} from "@/libs/functions.js";

const emit = defineEmits(['click', 'contextmenu'])
const slots = useSlots()

const props = defineProps({
  class: String,
  style: [String, Object],
  icon: String,
  scale: String, // small, large
  type: String, // primary, success, error, warning, wait
  title: String,
  outline: {
    type: Boolean,
    default: false
  },
  loading: {
    type: Boolean,
    default: false
  },
  disabled: {
    type: Boolean,
    default: false
  },
})

const el = ref(null)

const icon = computed(() => {
  return props.icon ? DIconStore.getters.getIcon(props.icon) : null
})

const click = (e) => {
  emit('click', e)
}

const contextmenu = (e) => {
  emit('contextmenu', e)
}

const scaleClass = computed(() => {
  if (props.scale === 'large') {
    return 'button-lg'
  } else if (props.scale === 'small') {
    return 'button-sm'
  }
  return ''
})

const disabledClass = computed(() => {
  return props.disabled ? 'disabled' : ''
})

//const defaultSlot = computed(() => slots.default?.())
//const defaultSlot = computed(() => !!slots.default);
const defaultSlot = name => !!slots[name]
const paddingClass = computed(() => {
  if (defaultSlot('default')) {
    return ''
  }
  if (props.scale === 'large') {
    return 'd-button-lg-icon'
  } else if (props.scale === 'small') {
    return 'd-button-sm-icon'
  }
  return 'd-button-icon'
})

const colorClass = computed(() => {
  const outline = props.outline ? '-outline' : ''
  if (props.type === 'primary') {
    return `button${outline}-blue`
  }
  else if (props.type === 'success') {
    return `button${outline}-green`
  }
  else if (props.type === 'error') {
    return `button${outline}-red`
  }
  else if (props.type === 'warning') {
    return `button${outline}-orange`
  }
  else if (props.type === 'wait') {
    return `button${outline}-violet`
  }
  return props.outline ? `button${outline}` : ''
})

const elementSize = () => {
  return bounds(el)
}

defineExpose({
  elementSize
})
</script>

<template>
  <div :title="props.title" ref="el" @click="click" @contextmenu="contextmenu" v-if="!icon" class="button" :class="[props.class, scaleClass, colorClass, disabledClass].join(' ')">
    <slot></slot>
    <svg v-if="props.loading" class="loading-svg rotating" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><path d="M8.56 3.69a9 9 0 0 0-2.92 1.95"></path><path d="M3.69 8.56A9 9 0 0 0 3 12"></path><path d="M3.69 15.44a9 9 0 0 0 1.95 2.92"></path><path d="M8.56 20.31A9 9 0 0 0 12 21"></path><path d="M15.44 20.31a9 9 0 0 0 2.92-1.95"></path><path d="M20.31 15.44A9 9 0 0 0 21 12"></path><path d="M20.31 8.56a9 9 0 0 0-1.95-2.92"></path><path d="M15.44 3.69A9 9 0 0 0 12 3"></path></g></svg>
  </div>
  <div :title="props.title" ref="el" @click="click" @contextmenu="contextmenu" v-if="icon" class="button button-ext" :class="[props.class, scaleClass, paddingClass, colorClass, disabledClass].join(' ')" :style="props.style">
    <component
        v-if="props.icon"
        :is="DIcon"
        :component="icon"
        :color="'inherit'"
    />
    <div v-if="slots.default"><slot></slot></div>
    <svg v-if="props.loading" class="loading-svg rotating" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><path d="M8.56 3.69a9 9 0 0 0-2.92 1.95"></path><path d="M3.69 8.56A9 9 0 0 0 3 12"></path><path d="M3.69 15.44a9 9 0 0 0 1.95 2.92"></path><path d="M8.56 20.31A9 9 0 0 0 12 21"></path><path d="M15.44 20.31a9 9 0 0 0 2.92-1.95"></path><path d="M20.31 15.44A9 9 0 0 0 21 12"></path><path d="M20.31 8.56a9 9 0 0 0-1.95-2.92"></path><path d="M15.44 3.69A9 9 0 0 0 12 3"></path></g></svg>
  </div>
</template>

<style scoped>
  .disabled {
    opacity: 0.7;
    pointer-events: none;
  }

  .loading-svg {
    width: 1em;
    margin-left: 3px;
  }

  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }
</style>