<script setup>
import {computed, nextTick, ref} from "vue";
import DMenu from "@/components/DMenu/DMenu.vue"

const emit = defineEmits(['select'])

const dMenuRef = ref(null)

const props = defineProps({
  items: Array,
  renderItemTitle: Function,
  beforeItem: Function
})

const left = ref(0)
const top = ref(0)

const contextStyle = computed(() => {
  return {
    left: left.value + 'px',
    top: top.value + 'px',
  }
})

const show = (e) => {
  e.preventDefault()
  dMenuRef.value.show()

  nextTick(() => {
    const bounds = dMenuRef.value.elementSize()
    const vw = window.innerWidth
    const vh = window.innerHeight
    left.value = vw - e.pageX < bounds.width ? e.pageX - bounds.width : e.pageX
    top.value = vh - e.pageY < bounds.height ? e.pageY - bounds.height : e.pageY

    if (dMenuRef.value.itemsCount() === 0) {
      dMenuRef.value.hide()
    }
  })
}

const clickContext = (e) => {
  emit('select', e)
}

defineExpose({
  show
});
</script>

<template>
  <d-menu
      ref="dMenuRef"
      @select="clickContext"
      :items="props.items"
      :style="contextStyle"
      class="context-menu"
      :no-select="true"
      :render-item-title="props.renderItemTitle"
      :before-item="props.beforeItem"
  />
</template>

<style lang="scss" scoped>

</style>