<script setup>
import {onMounted, ref, Teleport} from "vue";
import DTree from "@/components/DTree/DTree.vue";
import emitter from "@/libs/emitter.ts"
import {uuid4} from "@/libs/functions.js";

const emit = defineEmits(['select'])

const id = uuid4()

const props = defineProps({
  class: String,
  items: Array,
  style: [String, Object],
  noSelect: {
    type: Boolean,
    default: true
  },
  renderItemTitle: Function,
  beforeItem: Function,
  bodyAsParent: {
    type: Boolean,
    default: true
  },
  delayClick: {
    type: Number,
    default: 500
  }
})

let treeRef = ref(null)
let treeShow = ref(false)

const show = () => {
  emitter.emit(`menu-show-request`, id)
  treeShow.value = true
}

const hide = (speed = 1) => {
  treeRef.value?.collapseAll()
  setTimeout(() => {
    treeShow.value = false
  }, speed)
  //treeShow.value = false
}

const isShowed = () => {
  return treeShow.value
}

emitter.on(`menu-show-request`, (caller_id) => {
  if (id !== caller_id) {
    hide()
  }
  //treeRef.value?.collapseAll()
  //console.log(5555)
  //hide()
})

const elementSize = () => {
  return treeRef.value.elementSize()
}

const itemsCount = () => {
  return treeRef.value.itemsCount()
}

defineExpose({
  show, hide, elementSize, isShowed, itemsCount
})

const clickContext = (e) => {
  emit('select', e)
  if (!e.model.children) {
    hide(props.delayClick)
  }
}
</script>

<template>
  <teleport to="body">
    <d-tree
        v-if="treeShow"
        ref="treeRef"
        :items="props.items"
        :no-select="props.noSelect"
        :class="props.class"
        :style="props.style"
        v-click-outside="() => hide()"
        @select="clickContext"
        :render-title="props.renderItemTitle"
        :before-item="props.beforeItem"
    />
  </teleport>
</template>
