<script setup>
import {computed} from "vue";
import {
  eachDayOfInterval,
  endOfDay,
  isAfter,
  isBefore,
  isSameDay,
  startOfDay,
  format as formatDate,
  isWithinInterval, startOfWeek, endOfWeek, setDay, startOfMonth, endOfMonth, getYear, addMonths, subMonths, isSameMonth
} from "date-fns";
import DCalendarCell from "@/components/DDates/DCalendarCell.vue";
import DIcon from "@/components/DIcon.vue";
import {
  KeyboardArrowLeftSharp, KeyboardArrowRightSharp
} from "@vicons/material";

const emit = defineEmits(['update:pageDate', 'monthClick', 'yearClick', 'select'])

const props = defineProps({
  pageDate: {
    type: Date,
    required: true,
    default: new Date()
  },
  format: {
    type: String,
    required: false,
    default: 'dd',
  },
  weekStartsOn: {
    type: Number,
    required: false,
    default: 1,
    validator: (i) => typeof i === 'number' && Number.isInteger(i) && i >= 0 && i <= 6,
  },
  weekdayFormat: {
    type: String,
    required: false,
    default: 'EEEEEE',
  },
  locale: {
    type: Object
  },
  lowerLimit: {
    type: Date
  },
  upperLimit: {
    type: Date
  },
})

const format = computed(
    () => (format) => (value) =>
        formatDate(value, format, {
          locale: props.locale,
          weekStartsOn: props.weekStartsOn,
        })
)

const month = computed(
    () => (value) =>
        formatDate(value, 'LLLL', {
          locale: props.locale,
        })
)

const isEnabled = (target, lower, upper, disabledDates) => {
  if (disabledDates?.dates?.some(date => isSameDay(target, date))) return false
  if (disabledDates?.predicate?.(target)) return false
  if (!lower && !upper) return true
  if (lower && isBefore(target, startOfDay(lower))) return false
  return !(upper && isAfter(target, endOfDay(upper)));
}

const leftDisabled = computed(
    () =>
        props.lowerLimit &&
        (isSameMonth(props.lowerLimit, props.pageDate) ||
            isBefore(props.pageDate, props.lowerLimit))
)
const rightDisabled = computed(
    () =>
        props.upperLimit &&
        (isSameMonth(props.upperLimit, props.pageDate) ||
            isAfter(props.pageDate, props.upperLimit))
)

const monthStart = computed(() => startOfMonth(props.pageDate))
const monthEnd = computed(() => endOfMonth(props.pageDate))
const currentMonth = computed(() => ({
  start: monthStart.value,
  end: monthEnd.value,
}))

const displayedInterval = computed(() => ({
  start: startOfWeek(monthStart.value, {
    weekStartsOn: props.weekStartsOn,
  }),
  end: endOfWeek(monthEnd.value, {
    weekStartsOn: props.weekStartsOn,
  }),
}))

const weekDays = computed(() => {
  const initial = props.weekStartsOn
  const dayFormat = format.value(props.weekdayFormat)
  return Array.from(Array(7))
      .map((_, i) => (initial + i) % 7)
      .map((v) =>
          setDay(new Date(), v, {
            weekStartsOn: props.weekStartsOn,
          })
      )
      .map(dayFormat)
})

const days = computed(() => {
  const today = new Date()
  const dayFormat = format.value(props.format)
  return eachDayOfInterval(displayedInterval.value).map(
      (value) => ({
        value,
        display: dayFormat(value),
        //selected: !!props.selected && isSameDay(props.selected, value),
        selected: !!props.pageDate && isSameDay(props.pageDate, value),
        current: isSameDay(today, value),
        disabled:
            (!props.allowOutsideInterval &&
                !isWithinInterval(value, currentMonth.value)) ||
            !isEnabled(
                value,
                props.lowerLimit,
                props.upperLimit,
                props.disabledDates
            ),
        key: format.value('yyyy-MM-dd')(value),
      })
  )
})

const monthClick = () => {
  emit('monthClick')
}

const yearClick = () => {
  emit('yearClick')
}

const selectDay = (e, item) => {
  emit('update:pageDate', item.value)
  emit('select', item)
}

const previousPage = () =>
    emit('update:pageDate', subMonths(props.pageDate, 1))
const nextPage = () => emit('update:pageDate', addMonths(props.pageDate, 1))
</script>

<template>
  <div style="user-select: none; display: flex; align-items: center; justify-content: space-between; padding: 0 10px 20px 10px;">
    <d-icon @click="previousPage" :component="KeyboardArrowLeftSharp" size="20" style="cursor:pointer;" :class="leftDisabled ? 'disabled' : ''" />
    <div style="text-transform: capitalize; cursor: pointer;" @click="monthClick"> {{ month(props.pageDate) }} </div>
    <div style="cursor: pointer" @click="yearClick"> {{ getYear(props.pageDate) }} </div>
    <d-icon @click="nextPage" :component="KeyboardArrowRightSharp" size="20" style="cursor:pointer;" :class="rightDisabled ? 'disabled' : ''" />
  </div>

  <div class="grid">

    <div class="weekDay" v-for="(day, index) in weekDays" :key="day">
      <div :class="[[5,6].includes(index) ? 'weekend' : '']">{{day}}</div>
    </div>

    <d-calendar-cell
        v-for="item in days"
        :key="item.key"
        :day="item.display"
        :disabled="item.disabled"
        :selected="item.selected"
        :wide="true"
        @select="selectDay($event, item)"
    />
  </div>
</template>

<style scoped>
.grid {
  user-select: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  .weekend {
    color: #00ce99;
  }
  .weekDay {
    font-size: 0.8em;
    text-align: center;
    text-transform: uppercase;
  }
}
.disabled {
  opacity: 0.3;
  pointer-events: none;
}
</style>