<script setup>
import {computed} from "vue";
import {
  addYears,
  eachYearOfInterval,
  endOfDecade,
  getDecade,
  getYear, isAfter,
  isBefore,
  startOfDecade,
  subYears
} from "date-fns";
import {KeyboardArrowLeftSharp, KeyboardArrowRightSharp} from "@vicons/material";
import DIcon from "@/components/DIcon.vue"
import DCalendarCell from "@/components/DDates/DCalendarCell.vue";

const emit = defineEmits(['update:pageDate', 'yearClick', 'select'])

const props = defineProps({
  pageDate: {
    type: Date,
    required: true,
    default: new Date()
  },
  format: {
    type: String,
    required: false,
    default: 'LLLL',
  },
  locale: {
    type: Object
  },
  lowerLimit: {
    type: Date
  },
  upperLimit: {
    type: Date
  },
})

const from = computed(() => startOfDecade(props.pageDate))
const to = computed(() => endOfDecade(props.pageDate))

const isEnabled = (target, lower, upper) => {
  if (!lower && !upper) return true
  if (lower && getYear(target) < getYear(lower)) return false
  return !(upper && getYear(target) > getYear(upper));
}

const leftDisabled = computed(
    () =>
        props.lowerLimit &&
        (getDecade(props.lowerLimit) === getDecade(props.pageDate) ||
            isBefore(props.pageDate, props.lowerLimit))
)
const rightDisabled = computed(
    () =>
        props.upperLimit &&
        (getDecade(props.upperLimit) === getDecade(props.pageDate) ||
            isAfter(props.pageDate, props.upperLimit))
)

const years = computed(() =>
    eachYearOfInterval({
      start: from.value,
      end: to.value,
    }).map(
        (value) => ({
          value,
          key: String(getYear(value)),
          display: getYear(value),
          selected:
              !!props.selected && getYear(value) === getYear(props.selected),
          disabled: !isEnabled(value, props.lowerLimit, props.upperLimit),
        })
    )
)

const header = computed(() => {
  const start = getYear(from.value)
  const end = getYear(to.value)

  return `${start} - ${end}`
})

const selectYear = (e, item) => {
  emit('update:pageDate', item.value)
  emit('yearClick')
}

const previousPage = () =>
    emit('update:pageDate', subYears(props.pageDate, 10))
const nextPage = () => emit('update:pageDate', addYears(props.pageDate, 10))
</script>

<template>
  <div style="user-select: none; display: flex; align-items: center; justify-content: space-between; padding: 0 10px 20px 10px;">
    <d-icon @click="previousPage" :component="KeyboardArrowLeftSharp" size="20" style="cursor:pointer;" :class="leftDisabled ? 'disabled' : ''" />
    <div> {{ header }} </div>
    <d-icon @click="nextPage" :component="KeyboardArrowRightSharp" size="20" style="cursor:pointer;" :class="rightDisabled ? 'disabled' : ''" />
  </div>

  <div class="grid">
    <d-calendar-cell
        class="cell"
        v-for="item in years"
        :key="item.key"
        :day="item.display"
        :disabled="item.disabled"
        :wide="true"
        @select="selectYear($event, item)"
    />
  </div>
</template>

<style lang="scss" scoped>
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
</style>