<script setup>
import DCalendarCell from "@/components/DDates/DCalendarCell.vue";
import {computed} from "vue";
import {
  eachMonthOfInterval,
  endOfYear,
  startOfYear,
  format as formatDate,
  isSameMonth,
  isBefore,
  startOfMonth, isAfter, endOfMonth, getYear, subYears, addYears, isSameYear
} from "date-fns";
import DIcon from '@/components/DIcon.vue'
import {KeyboardArrowLeftSharp, KeyboardArrowRightSharp} from "@vicons/material";

const emit = defineEmits(['update:pageDate', 'yearClick', 'dayClick', 'select'])

const props = defineProps({
  pageDate: {
    type: Date,
    required: true,
    default: new Date()
  },
  format: {
    type: String,
    required: false,
    default: 'LLLL',
  },
  locale: {
    type: Object
  },
  lowerLimit: {
    type: Date
  },
  upperLimit: {
    type: Date
  },
})

const from = computed(() => startOfYear(props.pageDate))
const to = computed(() => endOfYear(props.pageDate))

const format = computed(
() => (value) =>
  formatDate(value, props.format, {
    locale: props.locale,
  })
)

const isEnabled = (target, lower, upper) => {
  if (!lower && !upper) return true
  if (lower && isBefore(target, startOfMonth(lower))) return false
  return !(upper && isAfter(target, endOfMonth(upper)));
}

const leftDisabled = computed(
    () =>
        props.lowerLimit &&
        (isSameYear(props.lowerLimit, props.pageDate) ||
            isBefore(props.pageDate, props.lowerLimit))
)
const rightDisabled = computed(
    () =>
        props.upperLimit &&
        (isSameYear(props.upperLimit, props.pageDate) ||
            isAfter(props.pageDate, props.upperLimit))
)

const months = computed(() =>
    eachMonthOfInterval({
      start: from.value,
      end: to.value,
    }).map(
        (value) => ({
          value,
          display: format.value(value),
          key: format.value(value),
          selected: !!props.selected && isSameMonth(props.selected, value),
          disabled: !isEnabled(value, props.lowerLimit, props.upperLimit),
        })
    )
)

const year = computed(() => getYear(props.pageDate))

const yearClick = () => {
  emit('yearClick')
}

const selectMonth = (e, item) => {
  emit('update:pageDate', item.value)
  emit('dayClick')
}

const previousPage = () =>
    emit('update:pageDate', subYears(props.pageDate, 1))
const nextPage = () => emit('update:pageDate', addYears(props.pageDate, 1))
</script>

<template>
  <div style="user-select: none; display: flex; align-items: center; justify-content: space-between; padding: 0 10px 20px 10px;">
    <d-icon @click="previousPage" :component="KeyboardArrowLeftSharp" size="20" style="cursor:pointer;" :class="leftDisabled ? 'disabled' : ''" />
    <div style="cursor: pointer" @click="yearClick"> {{ year }} </div>
    <d-icon @click="nextPage" :component="KeyboardArrowRightSharp" size="20" style="cursor:pointer;" :class="rightDisabled ? 'disabled' : ''" />
  </div>

  <div class="grid">
    <d-calendar-cell
        class="cell"
        v-for="item in months"
        :key="item.key"
        :day="item.display"
        :wide="true"
        :disabled="item.disabled"
        @select="selectMonth($event, item)"
    />
  </div>
</template>

<style lang="scss" scoped>
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}
</style>