<script setup>
import {computed, ref} from "vue";
import {format, parse} from "date-fns";
import DCalendarYear from "@/components/DDates/DCalendarYear.vue";
import DCalendarDay from "@/components/DDates/DCalendarDay.vue";
import DCalendarMonth from "@/components/DDates/DCalendarMonth.vue";

const emit = defineEmits(["select", "monthPageChanged", "yearPageChanged", "decadePageChanged"])

const props = defineProps({
  initDate: {
    type: Object,
    default: new Date
  },
  locale: {
    type: Object
  },
  mode: {
    type: String,
    default: 'day'
  },
  lowerLimit: {
    type: Date
  },
  upperLimit: {
    type: Date
  },
  /**
   * `date-fns`-type format in which the string in the input should be both
   * parsed and displayed
   */
  inputFormat: {
    type: String,
    required: false,
    default: 'dd.MM.yyyy',
  },
  showCurrentDate: {
    type: Boolean,
    default: true
  }
})

const pageDate = ref(props.initDate ? props.initDate : new Date())
const mode = ref(props.mode)

const updatePageDate = (
    view, //'year' | 'month' | 'day',
    newPageDate
) => {
  // We need to emit "page changed" event and set the page date
  pageDate.value = newPageDate

  if (view === 'year') emit('decadePageChanged', newPageDate)
  else if (view === 'month') emit('yearPageChanged', newPageDate)
  else if (view === 'day') emit('monthPageChanged', newPageDate)
}

const dayView = () => {
  mode.value = 'day'
}

const monthView = () => {
  mode.value = 'month'
}

const yearView = () => {
  mode.value = 'year'
}

const currentDate = computed(() => {
  return format(pageDate.value, props.inputFormat, {
    locale: props.locale,
  })
})

const selectDate = (item) => {
  emit('select', item)
}
</script>

<template>
  <div>
    <d-calendar-day
        v-if="mode === 'day'"
        :page-date="pageDate"
        :locale="props.locale"
        :lower-limit="props.lowerLimit"
        :upper-limit="props.upperLimit"
        @update:pageDate="(v) => updatePageDate('day', v)"
        @month-click="monthView"
        @year-click="yearView"
        @select="selectDate"
    />

    <d-calendar-month
        v-if="mode === 'month'"
        :page-date="pageDate"
        :locale="props.locale"
        :lower-limit="props.lowerLimit"
        :upper-limit="props.upperLimit"
        @update:pageDate="(v) => updatePageDate('day', v)"
        @day-click="dayView"
        @year-click="yearView"
    />

    <d-calendar-year
        v-if="mode === 'year'"
        :page-date="pageDate"
        :locale="props.locale"
        :lower-limit="props.lowerLimit"
        :upper-limit="props.upperLimit"
        @update:pageDate="(v) => updatePageDate('day', v)"
        @year-click="monthView"
    />

    <div class="current-date" v-if="props.showCurrentDate">
      {{ currentDate }}
    </div>
  </div>
</template>

<style lang="scss" scoped>
.current-date {
  font-size: 0.8em;
  text-align: center;
  padding: 10px 0 0 0;
}
</style>