<script setup>
const emit = defineEmits(['select', 'mouseover', 'mouseleave'])

const props = defineProps({
  day: {
    type: [String, Number],
    required: true
  },
  disabled: {
    type: Boolean,
    default: false
  },
  selected: {
    type: Boolean,
    default: false
  },
  wide: {
    type: Boolean,
    default: false
  }
})
</script>

<template>
  <div
      class="wrap"
      @mouseover="emit('mouseover')"
      @mouseleave="emit('mouseleave')"
  >
    <div
        class="calendar-cell"
        :style="{width: props.wide ? '100%' : '30px'}"
        :class="[props.disabled ? 'disabled' : '', props.selected ? 'selected' : '']"
        @click="emit('select')"
    >
      {{ props.day }}
    </div>
  </div>
</template>

<style lang="scss" scoped>
.wrap {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  .calendar-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-transform: capitalize;
    //width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 200ms;
    &.disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }
}

.dark {
  .calendar-cell {
    background-color: rgba(255,255,255,0.1);
    &:hover {
      background-color: rgba(255,255,255,0.2);
    }
    &.selected {
      background-color: #00a177;
      color: white;
    }
  }
}

.light {
  .calendar-cell {
    background-color: rgba(0,0,0,0.04);
    &:hover {
      background-color: rgba(0,0,0,0.08);
    }
    &.selected {
      background-color: #A0E7CE;
      color: black;
    }
  }
}
</style>