<script setup>
import DInputString from "@/components/DForm/DInputString.vue";
import {computed, ref} from "vue";
import DModal from "../DModal/DModal.vue";
import DButton from "../DButton/DButton.vue";
import DCalendarMonth from "@/components/DDates/DCalendarMonth.vue";
import DCalendarDay from "@/components/DDates/DCalendarDay.vue";
import DCalendarYear from "@/components/DDates/DCalendarYear.vue";
import {format, parse} from "date-fns";

const emit = defineEmits(["update:modelValue", "apply", "select", "monthPageChanged", "yearPageChanged", "decadePageChanged"])

const props = defineProps({
  modelValue: String,
  label: String,
  title: {
    type: String,
    default: 'Укажите дату'
  },
  close: {
    type: String,
    default: 'Закрыть'
  },
  select: {
    type: String,
    default: 'Выбрать'
  },
  readOnly: {
    type: Boolean,
    default: false
  },
  locale: {
    type: Object
  },
  mode: {
    type: String,
    default: 'day'
  },
  lowerLimit: {
    type: Date
  },
  upperLimit: {
    type: Date
  },
  /**
   * `date-fns`-type format in which the string in the input should be both
   * parsed and displayed
   */
  inputFormat: {
    type: String,
    required: false,
    default: 'dd.MM.yyyy',
  },
  showCurrentDate: {
    type: Boolean,
    default: true
  }
})

const inputValue = computed({
  get: () => props.modelValue,
  set: (val) => {
    emit('update:modelValue', val)
  },
})

const modalRef = ref(null)
const pageDate = ref(inputValue.value ? parse(inputValue.value, props.inputFormat, new Date()) : new Date())
const mode = ref(props.mode)

const openDateDialog = () => {
  mode.value = props.mode
  modalRef.value.show()
}

const updatePageDate = (
    view, //'year' | 'month' | 'day',
    newPageDate
) => {
  // We need to emit "page changed" event and set the page date
  pageDate.value = newPageDate

  if (view === 'year') emit('decadePageChanged', newPageDate)
  else if (view === 'month') emit('yearPageChanged', newPageDate)
  else if (view === 'day') emit('monthPageChanged', newPageDate)
}

const dayView = () => {
  mode.value = 'day'
}

const monthView = () => {
  mode.value = 'month'
}

const yearView = () => {
  mode.value = 'year'
}

const currentDate = computed(() => {
  return format(pageDate.value, props.inputFormat, {
    locale: props.locale,
  })
})

const selectDate = (item) => {
  emit('select', item)
}

const apply = () => {
  inputValue.value = format(pageDate.value, props.inputFormat, {
    locale: props.locale,
  })
  emit('apply', format(pageDate.value, props.inputFormat, {locale: props.locale,}))
  modalRef.value.hide()
}
</script>

<template>
  <div>
    <d-input-string :label="props.label" v-model="inputValue" @click="openDateDialog" :readonly="props.readOnly" />

    <d-modal ref="modalRef" width="100%" max-width="300px">
      <template v-slot:modal-title>{{props.title}}</template>

      <template v-slot:default>
        <d-calendar-day
            v-if="mode === 'day'"
            :page-date="pageDate"
            :locale="props.locale"
            :lower-limit="props.lowerLimit"
            :upper-limit="props.upperLimit"
            @update:pageDate="(v) => updatePageDate('day', v)"
            @month-click="monthView"
            @year-click="yearView"
            @select="selectDate"
        />
        
        <d-calendar-month
            v-if="mode === 'month'"
            :page-date="pageDate"
            :locale="props.locale"
            :lower-limit="props.lowerLimit"
            :upper-limit="props.upperLimit"
            @update:pageDate="(v) => updatePageDate('day', v)"
            @day-click="dayView"
            @year-click="yearView"
        />

        <d-calendar-year
            v-if="mode === 'year'"
            :page-date="pageDate"
            :locale="props.locale"
            :lower-limit="props.lowerLimit"
            :upper-limit="props.upperLimit"
            @update:pageDate="(v) => updatePageDate('day', v)"
            @year-click="monthView"
        />

        <div class="current-date" v-if="showCurrentDate">
          {{ currentDate }}
        </div>

      </template>

      <template v-slot:modal-footer>
        <div style="text-align: center">
          <d-button type="success" @click="apply">{{props.select}}</d-button>
          <d-button @click="modalRef.hide()">{{props.close}}</d-button>
        </div>
      </template>
    </d-modal>
  </div>
</template>

<style lang="scss" scoped>
.current-date {
  font-size: 0.8em;
  text-align: center;
  padding: 10px 0 0 0;
}
</style>