<script setup>
import DButton from "@/components/DButton/DButton.vue";
import {computed, nextTick, ref, useSlots} from "vue";
import DMenu from "@/components/DMenu/DMenu.vue";

const emit = defineEmits(['select', 'click', 'open'])
// select - выбор пункта меню
// click - событие клика по кнопке
const slots = useSlots()

const props = defineProps({
  class: String,
  icon: {
    type: [String, null],
    default: null
  },
  items: Array,
  menuStyle: Object,
  renderItemTitle: Function,
  beforeItem: Function,
  type: String,
  bodyAsParent: {
    type: Boolean,
    default: true
  },
  delayClick: {
    type: Number,
    default: 500
  }
})

const dMenuRef = ref(null)
const buttonRef = ref(null)
const left = ref(0)
const top = ref(0)

const show = (e) => {
  emit('click', e)
  if (dMenuRef.value.isShowed()) {
    dMenuRef.value.hide()
    return
  }

  dMenuRef.value.show()

  emit('open')

  nextTick(() => {
    const bounds = dMenuRef.value.elementSize()
    const buttonBounds = buttonRef.value.elementSize()

    const vw = window.innerWidth
    const vh = window.innerHeight

    left.value = vw - (buttonBounds.x + buttonBounds.width) < bounds.width ? buttonBounds.left - bounds.width + buttonBounds.width : buttonBounds.left
    top.value = vh - (buttonBounds.y + buttonBounds.height) < bounds.height ? buttonBounds.top - bounds.height - 5 : buttonBounds.height + buttonBounds.top + 5
  })
}

const clickDropdown = (e) => {
  emit('select', e)
}

const dropdownStyle = computed(() => {
  //console.log(left.value, top.value);
  return {...{
    left: left.value + 'px',
    top: top.value + 'px',
    position: props.bodyAsParent ? 'absolute' : 'fixed'
  }, ...props.menuStyle}
})

defineExpose({
  show
});

const defaultSlot = name => !!slots[name]
</script>

<template>
  <div class="dropdown">
    <d-button v-if="defaultSlot('default')" ref="buttonRef" :class="props.class" :icon="props.icon" @click.stop.prevent="show" :type="props.type"><slot></slot></d-button>
    <d-button v-else ref="buttonRef" :class="props.class" :icon="props.icon" @click.stop.prevent="show" :type="props.type"></d-button>
    <d-menu
        ref="dMenuRef"
        :items="props.items"
        class="dropdown-menu"
        :style="dropdownStyle"
        :no-select="true"
        @select="clickDropdown"
        :render-item-title="props.renderItemTitle"
        :before-item="props.beforeItem"
        :body-as-parent="props.bodyAsParent"
        :delay-click="props.delayClick"
    />
  </div>
</template>

<style scoped>

</style>