<script setup>
import {ref, toRefs, watch} from "vue";

const emit = defineEmits(["angle"])

const props = defineProps({
  angle: {
    type: String,
    default: '0'
  }
})

const setupAngle = ref(null)
const angleData = ref(parseInt(props.angle))
const mousedown = ref(false)

watch(() => props.angle, (n) => {
  angleData.value = -~n
})

const calculateDegree = (x, y, centerX, centerY) => {
  const radians = Math.atan2(x - centerX, y - centerY);
  return (radians * (180 / Math.PI) * -1) + 180;
}

const onMousemove = (event) => {
  if (mousedown.value) {
    let centerX = -~(setupAngle.value.offsetHeight || setupAngle.value.height) / 2;
    let centerY = -~(setupAngle.value.offsetWidth || setupAngle.value.width) / 2;
    let angle = calculateDegree(event.offsetX, event.offsetY, centerX, centerY)
    angleData.value = -~angle
    emit('angle', angle)
  }
}
</script>

<template>
<div>
  <div
      ref="setupAngle"
      class="angleSelect"
      @mousedown="mousedown = true"
      @mouseup="mousedown = false"
      @mousemove="onMousemove"
      @mouseleave="mousedown = false"
  >
    <div class="container" :style="{transform:`rotate(${angleData}deg)`}">
      <div class="point"></div>
    </div>
  </div>
</div>
</template>

<style lang="scss" scoped>

</style>