<script setup>
import DButton from '@/components/DButton/DButton.vue'
import {KeyboardDoubleArrowLeftSharp, KeyboardArrowLeftSharp, KeyboardArrowRightSharp,
  KeyboardDoubleArrowRightSharp} from '@vicons/material'
import DIconStore from "@/stores/icons.store.js";
import {computed, ref} from "vue";

DIconStore.mutations.addIcons({KeyboardDoubleArrowLeftSharp, KeyboardArrowLeftSharp, KeyboardArrowRightSharp,
  KeyboardDoubleArrowRightSharp})

const emit = defineEmits(["update:modelValue"])

const props = defineProps({
  modelValue: Number,
  totalRecords: {
    type: Number,
    default: 0,
  },
  perPage: {
    type: Number,
    default: 200,
  },
})

const page = computed({
  get: () => props.modelValue,
  set: (val) => {
    emit('update:modelValue', val)
  },
})

const pagesCount = computed(() => {
  return Math.ceil(props.totalRecords / props.perPage)
})

const go = (num) => {
  page.value = num
}
</script>

<template>
<div class="container">
  <d-button @click="go(1)" :disabled="page === 1" :outline="true" icon="KeyboardDoubleArrowLeftSharp" />
  <d-button @click="go(page - 1)" :disabled="page === 1" :outline="true" icon="KeyboardArrowLeftSharp" />

  <d-button @click="go(num)" v-for="num in pagesCount" :key="num" :outline="true" :disabled="num === page" :type="num === page ? 'success' : ''">{{num}}</d-button>

  <d-button @click="go(page + 1)" :disabled="page === pagesCount" :outline="true" icon="KeyboardArrowRightSharp" />
  <d-button @click="go(pagesCount)" :disabled="page === pagesCount" :outline="true" icon="KeyboardDoubleArrowRightSharp" />
</div>
</template>

<style scoped>
  .container {
    display: flex;
    align-items: center;
  }
</style>