<script setup>
import {computed, onMounted} from "vue";

const props = defineProps({
  xHide: {
    type: Boolean,
    default: true
  },
  yHide: {
    type: Boolean,
    default: false
  }
})

const x = computed(() => {
  return props.xHide ? 'hidden' : 'visible'
})

const y = computed(() => {
  return props.yHide ? 'hidden' : 'visible'
})

const addClass = (className) => {
  const el = document.body;
  el.classList.add(className);
  //document.querySelector('html').classList.add(className);
  //document.querySelector('html').classList.add('d-global-scroll');
  document.documentElement.classList.add(className);
  document.documentElement.classList.add('d-global-scroll');
}

onMounted(() => {
  addClass('colored-scroller')
})
</script>

<template>
  <div>
    <slot></slot>
  </div>
</template>

<style lang="scss">
.d-global-scroll {
  overflow-x: v-bind(x);
  overflow-y: v-bind(y);
}

.dark {
  &.colored-scroller, .colored-scroller {
    scrollbar-width: thin; /* "auto" или "thin"  */
    scrollbar-color: rgba(255,255,255,0.3) transparent; /* плашка скролла и дорожка */
  }

  .colored-scroller::-webkit-scrollbar {
    width: 6px;
  }
  .colored-scroller::-webkit-scrollbar-track {
    background: transparent;        /* цвет дорожки */
  }
  .colored-scroller::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.2);    /* цвет плашки */
    border-radius: 5px;       /* закругления плашки */
    border: 0;  /* padding вокруг плашки */
    &:hover {
      background-color: rgba(255,255,255,0.35);
    }
  }
}

.light {
  &.colored-scroller, .colored-scroller {
    scrollbar-width: thin; /* "auto" или "thin"  */
    scrollbar-color: rgba(0,0,0,0.3) transparent; /* плашка скролла и дорожка */
  }

  .colored-scroller::-webkit-scrollbar {
    width: 6px;
  }
  .colored-scroller::-webkit-scrollbar-track {
    background: transparent; /* цвет дорожки */
  }
  .colored-scroller::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2); /* цвет плашки */
    border-radius: 5px;       /* закругления плашки */
    border: 0;  /* padding вокруг плашки */
    &:hover {
      background-color: rgba(0,0,0,0.35);
    }
  }
}
</style>