<script setup>
import {computed} from "vue";

const props = defineProps({
  autoHide: {
    type: Boolean,
    default: true
  },
  xHide: {
    type: Boolean,
    default: true
  },
  yHide: {
    type: Boolean,
    default: false
  }
})

const x = computed(() => {
  return props.xHide ? 'hidden' : 'visible'
})

const y = computed(() => {
  return props.yHide ? 'hidden' : 'visible'
})
</script>

<template>
  <div :class="props.autoHide ? 'd-scroll-hide' : 'd-scroll'">
    <slot></slot>
  </div>
</template>

<style lang="scss" scoped>
.d-scroll {
  overflow-x: v-bind(x);
  overflow-y: v-bind(y);
}

.d-scroll-hide {
  overflow: hidden;
  &:hover {
    overflow-x: v-bind(x);
    overflow-y: v-bind(y);
  }
}

.dark {
  .d-scroll, .d-scroll-hide {
    scrollbar-width: thin;          /* "auto" или "thin"  */
    scrollbar-color: rgba(255,255,255,0.3) transparent;   /* плашка скролла и дорожка */
  }

  .d-scroll::-webkit-scrollbar, .d-scroll-hide::-webkit-scrollbar {
    width: 6px;
  }
  .d-scroll::-webkit-scrollbar-track, .d-scroll-hide::-webkit-scrollbar-track {
    background: transparent;        /* цвет дорожки */
  }
  .d-scroll::-webkit-scrollbar-thumb, .d-scroll-hide::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.2);    /* цвет плашки */
    border-radius: 5px;       /* закругления плашки */
    border: 0;  /* padding вокруг плашки */
    &:hover {
      background-color: rgba(255,255,255,0.35);
    }
  }
}

.light {
  .d-scroll, .d-scroll-hide {
    scrollbar-width: thin; /* "auto" или "thin"  */
    scrollbar-color: rgba(0,0,0,0.3) transparent; /* плашка скролла и дорожка */
  }

  .d-scroll::-webkit-scrollbar, .d-scroll-hide::-webkit-scrollbar {
    width: 6px;
  }
  .d-scroll::-webkit-scrollbar-track, .d-scroll-hide::-webkit-scrollbar-track {
    background: transparent; /* цвет дорожки */
  }
  .d-scroll::-webkit-scrollbar-thumb, .d-scroll-hide::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2); /* цвет плашки */
    border-radius: 5px;       /* закругления плашки */
    border: 0;  /* padding вокруг плашки */
    &:hover {
      background-color: rgba(0,0,0,0.35);
    }
  }
}
</style>