<script setup>
import DIcon from "@/components/DIcon.vue";
import {computed} from "vue";
import DIconStore from "../../stores/icons.store.js";

const emit = defineEmits(['click'])

const props = defineProps({
  style: [String, Object],
  label: [String, Number],
  progress: Number,
  icon: String,
  iconShow: {
    type: Boolean,
    default: true
  },
  type: String,
})

const icon = computed(() => {
  return props.icon ? DIconStore.getters.getIcon(props.icon) : null
})
</script>

<template>
  <div class="d-info-progress" :class="props.type ? `d-info-progress-${props.type}` : null"
       :style="{...props.style, ...{overflow: props.iconShow ? '' : 'hidden'}}" @click="(e) => {emit('click', e)}"
  >
    <div v-if="props.iconShow" class="d-info-progress-icon-container">
      <div class="d-info-progress-icon">
        <component
            v-if="props.icon"
            :is="DIcon"
            :component="icon"
            :color="'inherit'"
            :size="17"
        />
      </div>
    </div>
    <div class="d-info-progress-data-container">
      <div class="d-info-progress-line" :style="'width: ' + props.progress + '%;'"></div>
      <div class="d-info-progress-label" v-html="label"></div>
    </div>
  </div>
</template>

<style scoped>

</style>