<script setup>

</script>

<template>
  <div class="v-component">
    ITEM COMPONENT
  </div>
</template>

<style scoped>
.v-component {
  border: solid 1px mediumvioletred;
  padding: 10px;
  margin-bottom: 5px;
}
</style>