<script setup>
import DButton from "../components/DButton/DButton.vue";
import DInfoProgress from "../components/DProgress/DInfoProgress.vue";
import {computed, h, ref} from "vue";
import DIconStore from "../stores/icons.store.js";
import DDataGrid from "../components/DDataGrid/DDataGrid.vue";
import DGlobalStore from "../stores/global.store.js";
import {WbSunnyFilled, Brightness2Sharp} from "@vicons/material"
import DBadge from "@/components/DBadge/DBadge.vue";

DIconStore.mutations.addIcons({WbSunnyFilled, Brightness2Sharp})

const src = ref('')

const upd = () => {
  console.log('upd')
  src.value = 'https://i.pinimg.com/originals/23/5b/e5/235be54e76dae74edb43b09ceca39d52.jpg'
}

const items = ref([
  {id: '1', 'a': 'Абрикос', 'b': 50,  'c': 'Нету', d: 15},
  {id: '2', 'a': 'Арбуз', 'b': 27,  'c': 'Что-то есть', d: 22},
  {id: '3', 'a': 'Брынза', 'b': 73,  'c': 'Картошка', d: 17}
])

const columns = [
  {key: 'a', title: 'Название',
    search() {
      return h(DBadge, {}, () => 'check')
    }
  },
  {key: 'b', title: 'Процент',
    render(row, index) {
      return h(DInfoProgress, {
        progress: row.b,
        type: 'success',
        iconShow: false,
        label: row.b,
        //style: 'height: 10px;'
      })
    },
    search: [{label: 'i1', value:1}, {label: 'i2', value:2}],
    style: 'width: 150px; min-width: 14rem;'
  },
  {key: 'c', title: 'Управление', search: 'string', style: 'width: 150px; min-width: 14rem;'},
  {key: 'd', title: 'Знание', search: 'number', style: 'width: 150px; min-width: 4rem;'}
]

const toggleTheme = () => {
  DGlobalStore.actions.toggleTheme()
}

const themeIcon = computed(() => {
  return DGlobalStore.getters.theme() === 'dark' ? 'WbSunnyFilled' : 'Brightness2Sharp'
})

const set50 = () => {
  items.value[1]['b'] = 50
}

const add = () => {
  items.value.push({
    a: `d${Math.random()}`,
    b: Math.floor(Math.random() * 100),
    c: 'Новый ряд'
  })
}
</script>

<template>
<div style="padding: 20px;">
  <d-button :icon="themeIcon" @click="toggleTheme"></d-button>

  <h3>Тестовая таблица</h3>
  <d-data-grid
      id="data-grid-1"
      :columns="columns"
      :items="items"
      :page="1"
      :perPage="60"
      selectable="none"
  />

<d-button @click="set50">SET 50</d-button>
  <d-button @click="add">ADD</d-button>

  <!-- <hr>

  <d-image-cover
      :canvas="false"
      :width="100"
      :height="100"
      title="Проверка title"
      radius="10%"
      src-fail="http://localhost:5287/src/assets/taoo-white.svg"
      :src="src"
  />


  <d-image-cover
      :width="100"
      :height="100"
      title="Проверка title"
      src-fail="http://localhost:5287/src/assets/taoo-white.svg"
      :src="src"
  />
  <d-button @click="upd">update</d-button> -->
</div>
</template>

<style scoped>
.svg-preloader {
  stroke: #ffffff;
}
</style>