<script setup>
import DLayoutAdmin from "@/components/DLayout/DLayoutAdmin.vue";
import {ref} from "vue";
import {useBoolean} from "@/hooks/index.js"
import DGlobalStore from "@/stores/global.store.js"

const mode = ref('vertical')

//const { bool: isDark, toggle: toggleIsDark } = useBoolean(true)

const toggleIsDark = () => {
  DGlobalStore.mutations.setTheme(DGlobalStore.getters.theme() === 'dark' ? 'light' : 'dark')
}

const { bool: isMobile, toggle: toggleIsMobile } = useBoolean()
const { bool: fixedHeaderAndTab, toggle: toggleFixedHeaderAndTab } = useBoolean(true)
const { bool: fixedFooter, toggle: toggleFixedFooter } = useBoolean()
const { bool: sidebarCollapse, setBool: setSidebarCollapse, toggle: toggleSidebarCollapse } = useBoolean()

const modeList = ['vertical', 'horizontal']
const setMode = (value) => {
  mode.value = value
}
</script>

<template>
  <div>
    <d-layout-admin
        :mode="mode"
        :is-mobile="isMobile"
        :fixed-header-and-tab="fixedHeaderAndTab"
        :fixed-footer="fixedFooter"
        :sidebar-collapse="sidebarCollapse"
        @update:sidebar-collapse="setSidebarCollapse"
    >
      <template #header>
        <div class="flex-center h-full">Header</div>
      </template>
      <template #tab>
        <div class="flex-center h-full">Tab</div>
      </template>
      <template #sidebar>
        <div class="h-full">
          <div class="flex-center h-56px">Sidebar</div>
        </div>
      </template>
      <template #footer>
        <div class="flex-center h-full">Footer</div>
      </template>
      <div class="fixed right-0 top-120px px-12px whitespace-nowrap">
        <div>
          <h4>layout mode:</h4>
          <div v-for="item in modeList" :key="item">
            <span class="pr-8px">{{ item }}</span>
            <input
                type="radio"
                name="mode"
                :value="item"
                :checked="item === mode"
                class="cursor-pointer"
                @change="setMode(item)"
            />
          </div>
        </div>
        <div class="pt-24px">
          <span class="pr-8px">isMobile</span>
          <input type="checkbox" :checked="isMobile" @change="toggleIsMobile" />
        </div>
        <div class="pt-24px">
          <span class="pr-8px">fixedHeaderAndTab</span>
          <input type="checkbox" :checked="fixedHeaderAndTab" @change="toggleFixedHeaderAndTab" />
        </div>
        <div class="pt-24px">
          <span class="pr-8px">fixedFooter</span>
          <input type="checkbox" :checked="fixedFooter" @change="toggleFixedFooter" />
        </div>
        <div class="pt-24px">
          <span class="pr-8px">sidebarCollapse</span>
          <input type="checkbox" :checked="sidebarCollapse" @change="toggleSidebarCollapse" />
        </div>
        <div class="pt-24px">
          <span class="pr-8px">isDark</span>
          <input type="checkbox" :checked="DGlobalStore.getters.theme() === 'dark'" @change="toggleIsDark" />
        </div>
      </div>
      <div v-for="i in 5" :key="i" class="text-center">{{ i }}</div>
    </d-layout-admin>
  </div>


</template>

<style lang="scss" scoped>
  .fixed {
    position: fixed;
  }

  .h-full {
    height: 100%;
  }

  .right-0 {
    right: 0;
  }

  .whitespace-nowrap {
    white-space: nowrap;
  }

  .bg-\#d9d9d9 {
    background-color: rgb(217,217,217);
  }

  .text-center {
    text-align: center;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bg-\#cccccc {
    background-color: rgb(204,204,204);
  }

  .bg-\#e6e6e6 {
    background-color: rgb(230,230,230);
  }
</style>