<script setup>
import DSplitter from "@/components/DSplitter/DSplitter.vue";
import DButton from "@/components/DButton/DButton.vue";
import GlobalStore from "@/stores/global.store.js";
import {ref} from "vue";
import DSplitterPanel from "@/components/DSplitter/DSplitterPanel.vue";

const movable = ref(true)
const size = ref(7)
const hide = ref(false)
const isMobile = ref(false)
</script>

<template>
<!--  <d-split position="top" style="height: 400px;">-->
<!--    <template v-slot:panel1>Panel 1</template>-->
<!--    <template v-slot:panel2>-->
<!--      <d-split position="right">-->
<!--        <template v-slot:panel1>Panel 3</template>-->
<!--        <template v-slot:panel2>Panel 4</template>-->
<!--      </d-split>-->
<!--    </template>-->
<!--  </d-split>-->

  <hr>

  <d-splitter style="height: 500px" class="default-theme" :movable="movable" :size="size">
  <!--<d-splitter style="height: 500px; width: 100%;" class="default-theme" :movable="false" :handler="false" :size="0">-->
    <d-splitter-panel :class="[!hide && isMobile ? 'over' : '']" :style="{width: hide ? '0' : '200px'}" min-size="10" style="background-color: rgba(0,0,0,0.0);">Sidebar</d-splitter-panel>
    <d-splitter-panel :style="{width: hide || isMobile ? '100%' : 'calc(100% - 200px)'}">
      <d-splitter horizontal style="height: 500px;" class="default-theme">
        <d-splitter-panel>Panel 2</d-splitter-panel>
        <d-splitter-panel>
          <d-splitter>
            <d-splitter-panel>Panel 6</d-splitter-panel>
            <d-splitter-panel>Panel 7</d-splitter-panel>
          </d-splitter>
        </d-splitter-panel>
        <d-splitter-panel>
          <d-button @click="GlobalStore.mutations.setTheme('light')" :outline="true" type="success">LIGHT</d-button>
        </d-splitter-panel>
      </d-splitter>
    </d-splitter-panel>
  </d-splitter>

<!--  <d-splitter style="height: 500px" :movable="movable" :size="10">-->
<!--    <template #left-pane>-->
<!--      Left Pane content-->
<!--    </template>-->

<!--    <template #right-pane>-->
<!--      <d-splitter :is-horizontal="true" :movable="movable" :size="3">-->
<!--        <template #top-pane>-->
<!--          Top Pane content-->
<!--        </template>-->
<!--        <template #bottom-pane>-->
<!--          Bottom Pane content-->
<!--        </template>-->
<!--      </d-splitter>-->
<!--    </template>-->
<!--  </d-splitter>-->
<!--  <hr>-->
<!--  <d-splitter style="height: 500px" :movable="movable" :size="10" :is-horizontal="true" >-->
<!--    <template #top-pane>-->
<!--      Top Pane content-->
<!--    </template>-->
<!--    <template #bottom-pane>-->
<!--      <d-splitter :movable="movable" :size="10" :is-horizontal="true" >-->
<!--        <template #top-pane>-->
<!--          Top Pane content-->
<!--        </template>-->
<!--        <template #bottom-pane>-->
<!--          Bottom Pane content-->
<!--        </template>-->
<!--      </d-splitter>-->
<!--    </template>-->
<!--  </d-splitter>-->

  <d-button @click="GlobalStore.mutations.setTheme('light')" :outline="true" type="success">LIGHT</d-button>
  <d-button @click="GlobalStore.mutations.setTheme('dark')" type="success">DARK</d-button>
  <d-button @click="movable = !movable" type="primary">TOOGLE MOVE</d-button>
  <d-button @click="hide = !hide" type="info">SIDEBAR</d-button>
</template>

<style lang="scss">

.d-splitter__panel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.6);
  font-size: 3rem;
}

.over {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
  height: 100%;
  background-color: #333 !important;
  z-index: 100;
}
</style>