<script setup>
import {computed} from "vue";

const props = defineProps({
  scale: String,
  type: String,
  class: String,
  stress: {
    type: Boolean,
    default: false
  }
})

const scaleClass = computed(() => {
  if (props.scale === 'large') {
    return 'badge-lg'
  } else if (props.scale === 'small') {
    return 'badge-sm'
  }
  return ''
})

const colorClass = computed(() => {
  const stress = props.stress ? '-stress' : ''
  if (props.type === 'primary') {
    return `badge${stress}-blue`
  }
  else if (props.type === 'success') {
    return `badge${stress}-green`
  }
  else if (props.type === 'error') {
    return `badge${stress}-red`
  }
  else if (props.type === 'warning') {
    return `badge${stress}-orange`
  }
  else if (props.type === 'wait') {
    return `badge${stress}-violet`
  }
  return props.stress ? `badge${stress}-gray` : ''
})
</script>

<template>
<div class="badge" :class="[props.class, scaleClass, colorClass].join(' ')"><slot></slot></div>
</template>

<style scoped>

</style>