<script setup>
import DTree from "@/components/DTree/DTree.vue";

const emit = defineEmits(['move'])

const props = defineProps({
  items: Array,
  renderTitle: Function, // генерация заголовка (постобработка)
  noSelect: {
    type: Boolean,
    default: true
  }
})

const onMove = (e) => {
  emit('move', e)
}
</script>

<template>
  <d-tree
      class="accordion"
      :items="props.items"
      :no-select="props.noSelect"
      :render-title="props.renderTitle"
      :drop-inside="false"
      @move="onMove"
  />
</template>

<style scoped>
  .tree-item > ul {
    padding-left: 0 !important;
  }
</style>