<script setup>
import DPanel from "@/components/DPanel.vue";
</script>

<template>
<d-panel class="d-card">
  <div v-if="$slots.header" class="card-header">
    <slot name="header"></slot>
  </div>
  <div class="card-body"><slot></slot></div>
  <div v-if="$slots.footer" class="card-footer"><slot name="footer"></slot></div>
</d-panel>
</template>

<style scoped>

</style>