<script setup>
import DGlobalStore from "@/stores/global.store.js";

const props = defineProps({
  theme: {
    type: String,
    default: 'dark'
  }
})

DGlobalStore.mutations.setTheme(props.theme)
</script>

<template>
  <slot></slot>
</template>

<style scoped>

</style>