<script setup>
import {computed, h, useSlots} from "vue";

const slots = useSlots()

const props = defineProps({
  component: [Object, String],
  size: [Number, String],
  color: String,
  className: String
})

const classRef = computed(() => {
  const { className } = props
  if (className === undefined) {
    return 'icon' //'inherit'
  }
  return ['icon', className].join(' ')
})

const colorRef = computed(() => {
  const { color } = props
  if (color === undefined) {
    return null //'inherit'
  }
  return color
})

const sizeRef = computed(() => {
  const _size = props.size ?? null
  if (_size === undefined) {
    return undefined
  }
  if (typeof _size === 'number' || /^\d+$/.test(_size)) return `${_size}px`
  return _size
})

const icon = computed(() => {
  return h('i', {
        class: classRef.value,
        style: {
          color: colorRef.value,
          fontSize: sizeRef.value
        }
      },
      props.component ? h(props.component) : slots
  )
})

</script>

<template>
  <icon />
</template>

<style scoped>
</style>