<script setup>
import {onMounted, ref, watch} from "vue";

const emit = defineEmits(["loading", "loaded"])

const props = defineProps({
  src: {
    type: String,
    required: true,
  },
  srcFail: String,
  title: String,
  width: {
    type: Number,
    required: true
  },
  height: {
    type: Number,
    required: true
  },
  radius: String,
  canvas: {
    type: Boolean,
    default: true
  }
})

let canvas;
let ctx;

const imgRef = ref(null)
const divRef = ref(null)
const isLoading = ref(false)

const img = new Image;

img.onload = () => {
  if (props.canvas) {
    const {
      offsetX,
      offsetY,
      width,
      height
    } = cover(props.width, props.height, img.width, img.height)
    ctx.drawImage(img, offsetX, offsetY, width, height);
    emit("loaded")
    isLoading.value = false
  } else {
    divRef.value = img.src
    emit("loaded")
    isLoading.value = false
  }

}

img.onerror = () => {
  img.src = props.srcFail
  emit("loaded")
  isLoading.value = false
}

const cover = (parentWidth, parentHeight, childWidth, childHeight, scale = 1, offsetX = 0.5, offsetY = 0.5) => {
  const childRatio = childWidth / childHeight
  const parentRatio = parentWidth / parentHeight
  let width = parentWidth * scale
  let height = parentHeight * scale
  if (childRatio < parentRatio) {
    height = width / childRatio
  } else {
    width = height * childRatio
  }

  return {
    width,
    height,
    offsetX: (parentWidth - width) * offsetX,
    offsetY: (parentHeight - height) * offsetY
  }
}

onMounted(() => {
  if (props.canvas) {
    canvas = imgRef.value;
    ctx = canvas.getContext("2d");
  }

  emit("loading")
  isLoading.value = true
  img.src = props.src
})

watch(() => props.src, (oldValuet, newValue) => {
  emit("loading")
  isLoading.value = true
  img.src = props.src
});
</script>

<template>
  <div style="position: relative; display: inline-block;"
       :style="{
        width: `${props.width}px`,
        height: `${props.height}px`,
        borderRadius: props.radius
    }"
  >
<div
    v-if="isLoading"
    style="z-index: 10; position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; background-color: rgba(0,0,0,0.3)"
    :style="{
        width: `${props.width}px`,
        height: `${props.height}px`,
        borderRadius: props.radius
    }"
>
  <svg class="svg-preloader" width="44" height="44" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg">
    <g fill="none" fill-rule="evenodd" stroke-width="2">
      <circle cx="22" cy="22" r="1">
        <animate attributeName="r"
                 begin="0s" dur="1.8s"
                 values="1; 20"
                 calcMode="spline"
                 keyTimes="0; 1"
                 keySplines="0.165, 0.84, 0.44, 1"
                 repeatCount="indefinite" />
        <animate attributeName="stroke-opacity"
                 begin="0s" dur="1.8s"
                 values="1; 0"
                 calcMode="spline"
                 keyTimes="0; 1"
                 keySplines="0.3, 0.61, 0.355, 1"
                 repeatCount="indefinite" />
      </circle>
      <circle cx="22" cy="22" r="1">
        <animate attributeName="r"
                 begin="-0.9s" dur="1.8s"
                 values="1; 20"
                 calcMode="spline"
                 keyTimes="0; 1"
                 keySplines="0.165, 0.84, 0.44, 1"
                 repeatCount="indefinite" />
        <animate attributeName="stroke-opacity"
                 begin="-0.9s" dur="1.8s"
                 values="1; 0"
                 calcMode="spline"
                 keyTimes="0; 1"
                 keySplines="0.3, 0.61, 0.355, 1"
                 repeatCount="indefinite" />
      </circle>
    </g>
  </svg>
</div>

  <!-- <img v-if="imgRef" :src="imgRef" :alt="props.alt" :title="props.title" :style="{width:`${props.width}px`, height:`${props.height}px`, borderRadius:props.radius}"> -->
  <canvas v-show="!isLoading" v-if="props.canvas" ref="imgRef" :width="props.width" :height="props.height" :title="props.title" :style="{borderRadius:props.radius}"></canvas>
  <div
      :title="props.title"
      :style="{
        backgroundImage: `url(${divRef})`,
        width: `${props.width}px`,
        height: `${props.height}px`,
        borderRadius: props.radius
      }"
      style="background-size: cover; background-position: center; display: inline-block; transform: translate3d(0px, 0px, 0.1px); overflow: hidden;"
      v-show="!isLoading"
      v-else
  ></div>
  </div>
</template>

<style scoped>
.svg-preloader {
  stroke: #ffffff;
}
</style>