<script setup>
import {onMounted, ref} from "vue";

const props = defineProps({
  src: String,
  srcFail: String,
  alt: String,
  title: String,
  width: String,
  height: String,
  radius: String,
})

const imgRef = ref(null)

const img = new Image;

img.onload = () => {
  imgRef.value = img.src
}

img.onerror = () => {
  imgRef.value = props.srcFail
}

onMounted(() => {
  img.src = props.src
})
</script>

<template>
  <img v-if="imgRef" :src="imgRef" :alt="props.alt" :title="props.title" :style="{width:props.width, height:props.height, borderRadius:props.radius}">
</template>

<style scoped>

</style>