<script setup>
const props = defineProps({
  width: {
    type: String,
    default: '100%'
  },
  height: {
    type: String,
    default: '20px'
  },
  type: {
    type: String,
    default: 'round' // sharp // circle
  },
  repeat: {
    type: Number,
    default: 1
  }
})
</script>

<template>
  <div
      class="d-skeleton"
      :class="[props.type]"
      v-for="i in props.repeat"
      :key="i"
      :style="{
        width: props.width,
        height: props.height,
      }"
  ></div>
</template>

<style lang="scss" scoped>
.d-skeleton {
  position: relative;
  overflow: hidden;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    animation: shimmer 1.5s infinite;
    content: '';
  }
  &.sharp {
    border-radius: 0;
  }
  &.circle {
    border-radius: 50%;
  }
  &.round {
    border-radius: 5px;
  }
}

.light {
  .d-skeleton {
    background-color: rgba(0,0,0, 0.08);
    &:after {
      background-image: linear-gradient(
              90deg,
              rgba(255, 255, 255, 0),
              rgba(255, 255, 255, .5),
              rgba(37, 22, 22, 0)
      );
    }
  }
}

.dark {
  .d-skeleton {
    background-color: rgba(255,255,255, 0.05);
    &:after {
      background-image: linear-gradient(
              90deg,
              rgba(255, 255, 255, 0),
              rgba(255, 255, 255, .2),
              rgba(37, 22, 22, 0)
      );
    }
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
</style>