@import "../variables";

.badge {
  background-color: $light-background-gray;
  color: darken($light-text-gray, 10); //$light-text-default; // light-text-gray;
  &.badge-blue {
    background-color: $light-background-blue;
    color: $light-text-blue;
  }
  &.badge-green {
    background-color: $light-background-green;
    color: $light-text-green;
  }
  &.badge-red {
    background-color: $light-background-red;
    color: $light-text-red;
  }
  &.badge-orange {
    background-color: $light-background-orange;
    color: $light-text-orange;
  }
  &.badge-violet {
    background-color: $light-background-violet;
    color: $light-text-violet;
  }
  // STRESS //
  &.badge-stress-gray {
    color: white;
    background-color: darken($light-background-gray, 30)
  }
  &.badge-stress-blue {
    color: white;
    background-color: darken($light-background-blue, 30)
  }
  &.badge-stress-green {
    color: white;
    background-color: darken($light-background-green, 30)
  }
  &.badge-stress-red {
    color: white;
    background-color: darken($light-background-red, 30)
  }
  &.badge-stress-orange {
    color: white;
    background-color: darken($light-background-orange, 30)
  }
  &.badge-stress-violet {
    color: white;
    background-color: darken($light-background-violet, 30)
  }
}

// DARK ////////////////////////////

.dark .badge {
  background-color: $doph-65; //$dark-background-gray;
  color: $black-10;
  &.badge-blue {
    background-color: $dark-background-blue;
  }
  &.badge-green {
    background-color: $dark-background-green;
  }
  &.badge-red {
    background-color: $dark-background-red;
  }
  &.badge-orange {
    background-color: $dark-background-orange;
  }
  &.badge-violet {
    background-color: $dark-background-violet;
  }
  // STRESS //
  &.badge-stress-gray {
    color: $doph-30; // lighten($dark-background-gray, 20);
    background-color: $doph-80; //darken($dark-background-gray, 30)
  }
  &.badge-stress-blue {
    color: #70daff;
    background-color: darken($dark-background-blue, 30)
  }
  &.badge-stress-green {
    color: #6bffbc;
    background-color: darken($dark-background-green, 30)
  }
  &.badge-stress-red {
    color: #ffafaf;
    background-color: darken($dark-background-red, 30)
  }
  &.badge-stress-orange {
    color: lighten($dark-background-orange, 20);
    background-color: darken($dark-background-orange, 30)
  }
  &.badge-stress-violet {
    color: lighten($dark-background-violet, 20);
    background-color: darken($dark-background-violet, 30)
  }
}