@import "../variables";

.light .button {
  background-color: $light-background-gray;
  color: $light-text-gray;
  &:hover {
    color: darken($light-text-gray, 10);
    background-color: $light-background-gray-hover;
  }
  &.button-blue {
    background-color: $light-background-blue;
    color: $light-text-blue;
    &:hover {
      color: darken($light-text-blue, 10);
      background-color: $light-background-blue-hover;
    }
  }
  &.button-green {
    background-color: $light-background-green;
    color: $light-text-green;
    &:hover {
      color: darken($light-text-green, 10);
      background-color: $light-background-green-hover;
    }
  }
  &.button-red {
    background-color: $light-background-red;
    color: $light-text-red;
    &:hover {
      background-color: $light-background-red-hover;
      color: darken($light-text-red, 10);
    }
  }
  &.button-orange {
    background-color: $light-background-orange;
    color: $light-text-orange;
    &:hover {
      background-color: $light-background-orange-hover;
      color: darken($light-text-orange, 10);
    }
  }
  &.button-violet {
    background-color: $light-background-violet;
    color: $light-text-violet;
    &:hover {
      background-color: $light-background-violet-hover;
      color: darken($light-text-violet, 10);
    }
  }
  // OUTLINED
  &.button-outline {
    outline: solid 1px $light-background-gray;
    color: $light-text-gray;
    background-color: transparent;
    &:hover {
      color: $light-text-gray;
      background-color: $light-background-gray-hover;
    }
  }
  &.button-outline-blue {
    outline: solid 1px $light-background-blue;
    background-color: transparent;
    color: darken($light-background-blue, 30);
    &:hover {
      color: $light-text-blue;
      background-color: $light-background-blue-hover;
    }
  }
  &.button-outline-green {
    outline: solid 1px $light-background-green;
    background-color: transparent;
    color: darken($light-background-green, 30);
    &:hover {
      color: $light-text-green;
      background-color: $light-background-green-hover;
    }
  }
  &.button-outline-red {
    outline: solid 1px $light-background-red;
    background-color: transparent;
    color: darken($light-background-red, 30);
    &:hover {
      color: $light-text-red;
      background-color: $light-background-red-hover;
    }
  }
  &.button-outline-orange {
    outline: solid 1px $light-background-orange;
    background-color: transparent;
    color: darken($light-background-orange, 30);
    &:hover {
      color: $light-text-orange;
      background-color: $light-background-orange-hover;
    }
  }
  &.button-outline-violet {
    outline: solid 1px $light-background-violet;
    background-color: transparent;
    color: darken($light-background-violet, 30);
    &:hover {
      color: $light-text-violet;
      background-color: $light-background-violet-hover;
    }
  }
}

// DARK ////////////////////////////

.dark .button {
  background-color: rgba(255,255,255,0.1); // $doph-65;
  color: $black-10;
  &:hover {
    color: $dark-text-default-hover;
    background-color: rgba(255,255,255,0.15); //$doph-60;
  }
  &.button-blue {
    background-color: $dark-background-blue;
    &:hover {
      background-color: $dark-background-blue-hover;
    }
  }
  &.button-green {
    background-color: $dark-background-green;
    &:hover {
      background-color: $dark-background-green-hover;
    }
  }
  &.button-red {
    background-color: $dark-background-red;
    &:hover {
      background-color: $dark-background-red-hover;
    }
  }
  &.button-orange {
    background-color: $dark-background-orange;
    &:hover {
      background-color: $dark-background-orange-hover;
    }
  }
  &.button-violet {
    background-color: $dark-background-violet;
    &:hover {
      background-color: $dark-background-violet-hover;
    }
  }
  // OUTLINED
  &.button-outline {
    outline: solid 1px rgba(255,255,255,0.15); //$doph-60; // $dark-background-gray;
    color: $dark-text-gray;
    background-color: transparent;
    &:hover {
      color: white;
      background-color: rgba(255,255,255,0.15); //$doph-60; // $dark-background-gray;
    }
  }
  &.button-outline-blue {
    outline: solid 1px $dark-background-blue;
    background-color: transparent;
    color: lighten($dark-background-blue, 10);
    &:hover {
      color: white;
      background-color: $dark-background-blue;
    }
  }
  &.button-outline-green {
    outline: solid 1px $dark-background-green;
    background-color: transparent;
    color: lighten($dark-background-green, 10);
    &:hover {
      color: white;
      background-color: $dark-background-green;
    }
  }
  &.button-outline-red {
    outline: solid 1px $dark-background-red;
    background-color: transparent;
    color: lighten($dark-background-red, 10);
    &:hover {
      color: white;
      background-color: $dark-background-red;
    }
  }
  &.button-outline-orange {
    outline: solid 1px $dark-background-orange;
    background-color: transparent;
    color: lighten($dark-background-orange, 10);
    &:hover {
      color: white;
      background-color: $dark-background-orange;
    }
  }
  &.button-outline-violet {
    outline: solid 1px $dark-background-violet;
    background-color: transparent;
    color: lighten($dark-background-violet, 10);
    &:hover {
      color: white;
      background-color: $dark-background-violet;
    }
  }
}