@import "../variables";

.dark {
  .d-input input, .d-select select, .d-textarea textarea {
    color: $dark-text-default;
    background-color: $doph-80;
    border-color: $doph-60;
    //background-color: rgba(0, 0, 0, 0.3);
    //border-color: rgba(255, 255, 255, 0.2);
    &:focus {
      outline: none !important;
      border-color: $black-50;
    }
  }

  //.d-select {
  //  select {
  //    option {
  //      background-color: $doph-80;
  //    }
  //  }
  //}

  .d-input-string {
    input {
      color: $dark-text-default;
      background-color: $doph-80;
      border-color: $doph-60;
      //background-color: rgba(0, 0, 0, 0.3);
      //border-color: rgba(255, 255, 255, 0.2);
      &.focused {
        outline: none !important;
        //border-color: rgba(255, 255, 255, 0.3);
        border-color: $doph-50;
      }
      &:disabled {
        opacity: 0.6;
      }
    }
    .d-pre, .d-post {
      .d-text {
        background-color: rgba(0, 0, 0, 0.3);
        //border-color: rgba(255, 255, 255, 0.2);
        border-color: $doph-60;
        &.focused {
          //border-color: rgba(255, 255, 255, 0.3);
          border-color: $doph-50;
        }
      }
    }
  }

}

.light {
  .d-input input, .d-select select, .d-textarea textarea {
    color: $light-text-default;
    background-color: $light-background-default;
    border-color: $black-10;
    &:focus {
      outline: none !important;
      border-color: $black-15;
    }
  }

  .d-input-string {
    input {
      color: $light-text-default;
      background-color: $light-background-default;
      //background-color: rgba(255, 255, 255, 0.6);
      border-color: rgba(0, 0, 0, 0.1);
      &.focused {
        outline: none !important;
        border-color: rgba(0, 0, 0, 0.2);
      }
      &:disabled {
        opacity: 0.6;
      }
    }
    .d-pre, .d-post {
      .d-text {
        //background-color: rgba(255, 255, 255, 0.6);
        background-color: $light-background-default;
        border-color: rgba(0, 0, 0, 0.1);

        &.focused {
          border-color: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}

// CHECKBOX

.dark {
  .d-checkbox {
    input[type=checkbox]+label::before {
      border: 1px solid $doph-60;
      background-color: $doph-80;
    }

    input[type=checkbox]:checked+label::before {
      border-color: $doph-60;
      background-color: $doph-80; //$doph-60;
    }

    /* стили при наведении курсора на checkbox */
    input[type=checkbox]:not(:disabled):not(:checked)+label:hover::before {
      border-color: $doph-45;
    }
    /* стили для активного состояния чекбокса (при нажатии на него) */
    input[type=checkbox]:not(:disabled):active+label::before {
      background-color: #b3d7ff;
      border-color: $doph-45;
    }
    /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
    input[type=checkbox]:focus:not(:checked)+label::before {
      border-color: $doph-45;
    }
    /* стили для чекбокса, находящегося в состоянии disabled */
    input[type=checkbox]:disabled+label::before {
      background-color: $doph-55;
    }
  }
}

.light {
  .d-checkbox {
    input[type=checkbox]+label::before {
      border: 1px solid $doph-25;
      background-color: $light-background-default;
    }

    input[type=checkbox]:checked+label::before {
      border-color: $black-50;
      background-color: $doph-65; //$black-50;
    }

    /* стили при наведении курсора на checkbox */
    input[type=checkbox]:not(:disabled):not(:checked)+label:hover::before {
      border-color: $doph-35;
    }
    /* стили для активного состояния чекбокса (при нажатии на него) */
    input[type=checkbox]:not(:disabled):active+label::before {
      background-color: #b3d7ff;
      border-color: $doph-35;
    }
    /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
    input[type=checkbox]:focus:not(:checked)+label::before {
      border-color: $doph-35;
    }
    /* стили для чекбокса, находящегося в состоянии disabled */
    input[type=checkbox]:disabled+label::before {
      background-color: $doph-15;
    }
  }
}

// SWITCHER

.dark {
  .d-switcher {
    label {
      background: $doph-60;
    }
    label:after {
      background: $doph-30;
    }
    input:checked + label:after {
      background: $doph-10;
    }
    input:checked + label {
      background: #00a177; //$dark-background-green;
    }
    &.success input:checked + label {background: #00a177;}
    &.primary input:checked + label {background: $dark-background-blue;}
    &.error input:checked + label {background: $dark-background-red;}
    &.info input:checked + label {background: $dark-background-violet;}
    &.warning input:checked + label {background: $dark-background-orange;}
  }
}

.light {
  .d-switcher {
    label {
      background: $doph-20;
    }
    label:after {
      background: $doph-10;
    }
    input:checked + label:after {
      background: $doph-0;
    }
    input:checked + label {
      background: $light-background-green;
    }
    &.success input:checked + label {background: $light-background-green;}
    &.primary input:checked + label {background: $light-background-blue;}
    &.error input:checked + label {background: $light-background-red;}
    &.info input:checked + label {background: $light-background-violet;}
    &.warning input:checked + label {background: $light-background-orange;}
  }
}

// COLOR PICKER

.dark {
  .d-input-string {
    .color-indicator {
      border: solid 1px $doph-60;
    }
  }
}

.light {
  .d-input-string {
    .color-indicator {
      border: solid 1px $black-10;
    }
  }
}
