@import "../variables";

// SLIDER

.light {
  .slider-styled {
    &.noUi-target {
      background: $doph-0;
      border-color: $doph-20;
    }
    .noUi-handle {
      background: $doph-0;
      border-color: $doph-20;
      &.selected {
        background-color: $doph-10;
      }
    }

    .noUi-connect { background: $doph-30; }
    .noUi-tooltip {
      color: var(--slider-tooltip-color, $doph-60);
      background: var(--slider-tooltip-bg, $doph-0);
      border: 1px solid var(--slider-tooltip-bg, $doph-15);
    }

    &.noUi-vertical {
      .noUi-tooltip {
        &::before {
          border-right-color: var(--slider-tooltip-bg, $doph-15);
        }
      }
    }

    &.noUi-horizontal {
      .noUi-tooltip {
        &::before {
          border-top-color: var(--slider-tooltip-bg, $doph-15);
        }
      }
    }

    &.success { .noUi-connect, .noUi-handle.selected { background: $light-background-green; } }
    &.stress-success { .noUi-connect, .noUi-handle.selected { background: $dark-green; } }
    &.primary { .noUi-connect, .noUi-handle.selected { background: $light-background-blue; } }
    &.stress-primary { .noUi-connect, .noUi-handle.selected { background: $dark-blue; } }
    &.warning { .noUi-connect, .noUi-handle.selected { background: $light-background-orange; } }
    &.stress-warning { .noUi-connect, .noUi-handle.selected { background: $dark-orange; } }
    &.error { .noUi-connect, .noUi-handle.selected { background: $light-background-red; } }
    &.stress-error { .noUi-connect, .noUi-handle.selected { background: $dark-red; } }
    &.info { .noUi-connect, .noUi-handle.selected { background: $light-background-violet; } }
    &.stress-info { .noUi-connect, .noUi-handle.selected { background: $dark-violet; } }
  }
}

.dark {
  .slider-styled {
    &.noUi-target {
      background: $doph-80;
      border-color: $doph-60;
    }
    .noUi-handle {
      background: $doph-20;
      border-color: $doph-60;
      &.selected {
        background-color: white;
      }
    }

    .noUi-connect { background: $doph-30; }
    .noUi-tooltip {
      color: var(--slider-tooltip-color, #ffffff);
      background: var(--slider-tooltip-bg, $doph-80);
      border: 1px solid var(--slider-tooltip-bg, $dark-background-default);
    }

    &.noUi-vertical {
      .noUi-tooltip {
        &::before {
          border-right-color: var(--slider-tooltip-bg, $doph-80);
        }
      }
    }

    &.noUi-horizontal {
      .noUi-tooltip {
        &::before {
          border-top-color: var(--slider-tooltip-bg, $doph-80);
        }
      }
    }

    &.success { .noUi-connect, .noUi-handle.selected { background: $dark-background-green; } }
    &.stress-success { .noUi-connect, .noUi-handle.selected { background: $green; } }
    &.primary { .noUi-connect, .noUi-handle.selected { background: $dark-background-blue; } }
    &.stress-primary { .noUi-connect, .noUi-handle.selected { background: $blue; } }
    &.warning { .noUi-connect, .noUi-handle.selected { background: $dark-background-orange; } }
    &.stress-warning { .noUi-connect, .noUi-handle.selected { background: $orange; } }
    &.error { .noUi-connect, .noUi-handle.selected { background: $dark-background-red; } }
    &.stress-error { .noUi-connect, .noUi-handle.selected { background: $red; } }
    &.info { .noUi-connect, .noUi-handle.selected { background: $dark-background-violet; } }
    &.stress-info { .noUi-connect, .noUi-handle.selected { background: $violet; } }
  }
}