.light {
  .tree {
    .tree-divider {
      background-color: rgba(0,0,0,0.2);
    }
    .tree-divider-header {
      color: rgba(0,0,0,0.4);
      &:before {
        background-color: rgba(0,0,0,0.2);
      }
      &:after {
        background-color: rgba(0,0,0,0.2);
      }
    }
    .tree-item {
      >div {
        &.selected {
          background-color: rgba(0,0,0,0.1);
        }
        //&:hover {
        //  background-color: rgba(0,0,0,0.1);
        //}
      }
    }
  }
}

@media (hover) {
  .light {
    .tree {
      .tree-item {
        >div {
          &:hover {
            background-color: rgba(0,0,0,0.1);
          }
        }
      }
    }
  }
}

.dark {
  .tree {
    .tree-divider {
      background-color: rgba(255,255,255,0.2);
    }
    .tree-divider-header {
      color: rgba(255,255,255,0.4);
      &:before {
        background-color: rgba(255,255,255,0.2);
      }
      &:after {
        background-color: rgba(255,255,255,0.2);
      }
    }
    .tree-item {
      >div {
        &.selected {
          background-color: rgba(255,255,255,0.1);
        }
        //&:hover {
        //  background-color: rgba(255,255,255,0.1);
        //}
      }
    }
  }
}

@media (hover) {
  .dark {
    .tree {
      .tree-item {
        >div {
          &:hover {
            background-color: rgba(255,255,255,0.1);
          }
        }
      }
    }
  }
}