<script setup>
import {computed, onMounted, ref} from "vue";
import {DInputString} from "@";
import RulesLib from "@/libs/rules/rules.lib.js";

const emit = defineEmits(["update:modelValue"])

const props = defineProps({
  form: Object,
  modelValue: String,
  label: String,
  options: {
    type: Array,
    default: []
  },
  maxCount: {
    type: Number,
    default: 6
  },
  clear: {
    type: Boolean,
    default: false
  }
})

const focused = ref(false)
const error = ref(props.error)
const inputRef = ref(null)

const inputValue = computed({
  get: () => props.modelValue,
  set: (val) => {
    emit('update:modelValue', val)
  },
})

const inputEvent = (e) => {
  emit('input', e)
  validate()
}

const validate = () => {
  if (!props.form || !props.form.fields || !props.form.fields[props.name].rules) {
    return
  }
  error.value = RulesLib.validate(inputValue.value, props.form.fields[props.name].rules)
  return !!error.value
}

onMounted(() => {
  focus()
})

const focus = () => {
  inputRef.value?.focus()
}

const clearInput = () => {
  inputValue.value = ''
}

const setFocused = (value) => {
  focused.value = value
}

const setError = (message) => {
  error.value = message
}

const blur = (e) => {
  emit('blur', e)
}

defineExpose({
  focus, setError, validate
})
</script>

<template>
<div>

  <div class="d-search-select">
    <div style="display: flex; flex-direction: column;">

      <div
          v-if="props.label"
          class="d-label"
      >{{props.label}}<span v-if="props.form?.fields[props.name].rules && props.form.fields[props.name].rules.hasOwnProperty('required')" class="text-red">*</span>
      </div>

      <div style="display: flex; flex-direction: row;">
        <div style="flex: 1; position: relative;">
          <input
              type="text"
              v-model="inputValue"
              style="width: 100%;"
              :class="[
                focused ? 'focused' : ''
              ]"
              @focus="setFocused(true)"
              @blur="blur"
              @focusout="setFocused(false)"
          >

          <div
              class="d-post-inside-button"
              @click="clearInput"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6l6 6l1.41-1.41z" fill="currentColor"></path></svg>
          </div>
        </div>
      </div>
      <div v-if="props.help" class="d-help">{{props.help}}</div>
      <div v-if="error" class="d-error text-red">{{error}}</div>
    </div>
  </div>

</div>
</template>

<style lang="scss" scoped>
@import "../../../scss/themes";

.dark {
  .d-search-select {
    input {
      color: $dark-text-default;
      background-color: $doph-80;
      border-color: $doph-60;
      &.focused {
        outline: none !important;
        border-color: $doph-50;
      }
      &:disabled {
        opacity: 0.6;
      }
    }
  }
}

.d-search-select {
  input {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 7px 25px 7px 7px;
    height: 32px;
    &.has-pre {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &.has-post {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &.has-pre-inside-button {
      padding-left: 28px;
    }
    &.has-post-inside-button {
      padding-right: 28px;
    }
  }
  .d-label {
    margin-bottom: 5px;
    font-size: 0.9em;
    opacity: 0.7;
  }
  .d-help {
    font-size: 0.8em;
    opacity: 0.7;
  }
  .d-error {
    font-size: 0.8em;
  }
  .d-pre {
    * {
      margin: 0;
      border-right: 0;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
    .d-text {
      user-select: none;
      display: inline-flex;
      align-items: center;
      border-radius: 5px;
      height: 32px;
      white-space: nowrap;
      border-style: solid;
      padding: 7px;
      border-width: 1px 0 1px 1px;
    }
  }
  .d-post {
    * {
      margin: 0;
      border-left: 0;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
    .d-text {
      user-select: none;
      display: inline-flex;
      align-items: center;
      border-radius: 5px;
      height: 32px;
      white-space: nowrap;
      border-style: solid;
      padding: 7px;
      border-width: 1px 1px 1px 0;
    }
  }
  .d-pre-inside-button {
    position: absolute;
    left: 5px;
    top: 7px;
    cursor: pointer;
    svg {
      width: 18px;
      height: 18px;
      opacity: 0.6;
    }
  }
  .d-post-inside-button {
    position: absolute;
    right: 5px;
    top: 7px;
    cursor: pointer;
    svg {
      width: 18px;
      height: 18px;
      opacity: 0.6;
      transform: rotate(270deg);
    }
  }
  .d-pre, .d-post {
    &.disabled {
      opacity: 0.6;
      pointer-events: none;
    }
  }
}
</style>