<script setup>
import DConfigProvider from "@/components/DConfigProvider.vue";
import DScrollProvider from "@/components/DScrollbar/DScrollProvider.vue";
import {DialogWrapper} from "vue3-promise-dialog";
import DNotificationProvider from "@/components/DNotification/components/DNotificationProvider.vue";
import DDialogProvider from "@/components/DModal/DDialogProvider.vue";
</script>

<template>
  <div class="main">
  <d-config-provider theme="dark">
    <d-scroll-provider>
        <router-view />
    </d-scroll-provider>
<!--    <dialog-wrapper />-->
    <d-dialog-provider />
    <d-notification-provider position="top center" />
  </d-config-provider>
  </div>
</template>

<style lang="scss" scoped>
.body {
  scroll-behavior: smooth;
}

.main {
  height: 100vh;
}
</style>
