@import "components/menu";
@import "components/slider";
@import "variables";

a {
  text-decoration: none;
  transition: all 0.3s;
}

.button {
  user-select: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  padding: 0 0.7rem;
  border-radius: 5px;
  transition: all 200ms;
  font-weight: 400;
  margin: 0.25rem 0.125rem;
  height: 32px;
  white-space: nowrap;
  &.d-button-icon {
    padding: 0 7px;
  }
  &.button-sm {
    font-size: 0.8em;
    height: 24px;
    padding: 0 0.6em;
    &.d-button-sm-icon {
      padding: 0 5px;
    }
  }
  &.button-lg {
    font-size: 1.3em;
    height: 38px;
    padding: 0 0.8rem;
    &.d-button-lg-icon {
      padding: 0 10px;
    }
  }
  &.button-text {
    padding: 0;
    background: rgba(255,255,255,0) !important;
    border: 0;
  }
  &.button-ext {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    //height: 100%;
    gap: 5px;
    &.button-sm {
      gap: 4px;
    }
    &.button-lg {
      gap: 6px;
    }
    .icon {
      display: inline-flex !important;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      svg {
        width: 1.2em;
        height: 1.2em;
      }
    }
  }
}

.label {
  margin-bottom: 5px;
  font-size: 0.9em;
  opacity: 0.7;
}

.d-input-angle,
.d-input-string {
  &.large {
    input {
      font-size: 1.2em;
      height: 38px;
    }
    .d-pre, .d-post {
      &.disabled {
        opacity: 0.6;
        pointer-events: none;
      }
      .d-text {
        font-size: 1.2em;
        height: 38px;
      }
      .button {
        font-size: 1.2em;
        height: 38px;
      }
    }
    .d-pre-inside-button, .d-post-inside-button {
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
  &.small {
    input {
      font-size: 0.8em;
      height: 24px;
    }
    .d-pre, .d-post {
      .d-text {
        font-size: 0.8em;
        height: 24px;
      }
      .button {
        font-size: 0.82em;
        height: 24px;
      }
    }
    .d-pre-inside-button, .d-post-inside-button {
      top: 4px;
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
  input {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 7px;
    height: 32px;
    &.has-pre {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &.has-post {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &.has-pre-inside-button {
      padding-left: 28px;
    }
    &.has-post-inside-button {
      padding-right: 28px;
    }
  }
  .d-label {
    margin-bottom: 5px;
    font-size: 0.9em;
    opacity: 0.7;
  }
  .d-help {
    font-size: 0.8em;
    opacity: 0.7;
  }
  .d-error {
    font-size: 0.8em;
  }
  .d-pre {
    * {
      margin: 0;
      border-right: 0;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
    .d-text {
      user-select: none;
      display: inline-flex;
      align-items: center;
      border-radius: 5px;
      height: 32px;
      white-space: nowrap;
      border-style: solid;
      padding: 7px;
      border-width: 1px 0 1px 1px;
    }
  }
  .d-post {
    * {
      margin: 0;
      border-left: 0;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
    .d-text {
      user-select: none;
      display: inline-flex;
      align-items: center;
      border-radius: 5px;
      height: 32px;
      white-space: nowrap;
      border-style: solid;
      padding: 7px;
      border-width: 1px 1px 1px 0;
    }
  }
  .d-pre-inside-button {
    position: absolute;
    left: 5px;
    top: 7px;
    cursor: pointer;
    svg {
      width: 18px;
      height: 18px;
      opacity: 0.6;
    }
  }
  .d-post-inside-button {
    position: absolute;
    right: 5px;
    top: 7px;
    cursor: pointer;
    svg {
      width: 18px;
      height: 18px;
      opacity: 0.6;
    }
  }
  .d-pre, .d-post {
    &.disabled {
      opacity: 0.6;
      pointer-events: none;
    }
  }
}

.d-input, .d-textarea {
  .d-input-small {
    font-size: 0.8em;
    height: 24px;
  }
  .d-input-large {
    font-size: 1.2em;
    height: 38px;
  }
  .d-textarea-small {
    font-size: 0.8em;
  }
  .d-textarea-large {
    font-size: 1.2em;
  }
  .d-input-pre-button {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
  }
  .d-input-post-button {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0;
  }
  .d-input-pre-field {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .d-input-post-field {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.d-select {
  .d-select-small {
    font-size: 0.8em;
    height: 24px;
  }
  .d-select-large {
    font-size: 1.2em;
    height: 38px;
  }
}

.d-input input, .d-select select {
  //font-size: 1.1em;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 1px 7px 0 7px; //5px 7px;
  height: 32px;
}

.d-textarea textarea {
  font-size: 1.1em;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 2px 7px;
}

.d-checkbox {
  input[type=checkbox] {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  input[type=checkbox]+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  input[type=checkbox]+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    transition: all 200ms;
  }

  input[type=checkbox]:checked+label::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    background-size: 10px;
  }
}

.icon {
  line-height: 1em;
  text-align: center;
  display: inline-block;
  position: relative;
  fill: currentColor;
  transform: translateZ(0);
  svg {
    width: 1em;
    height: 1em;
  }
}

.accordion{
  user-select: none;
  .accordion-item {
    cursor: pointer;
    padding: 0.25rem 0.125rem;
  }
  .accordion-sub {
    cursor: pointer;
    padding: 0.25rem 0.125rem;
  }
}

.badge {
  display: inline-block;
  padding: 3px 4px;
  margin: 0.25rem 0.125rem;
  border-radius: 5px;
  line-height: 1;
  &.badge-sm {
    font-size: 0.8em;
    padding: 2px 3px;
  }
  &.badge-lg {
    font-size: 1.2em;
    padding: 4px 6px;
  }
}

.tree {
  &.accordion {
    .tree-item {
      ul {
        padding-left: 0;
      }
    }
  }
  padding-left: 0;
  user-select: none;
  list-style: none;
  margin: 0;
  .tree-divider {
    height: 1px;
    border: 0;
    margin: 5px 0;
  }
  .tree-divider-header {
    font-size: 0.7em;
    padding: 3px 0;
    border: 0;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    white-space: nowrap;
    &:before {
      flex: 95em;
      content: '';
      height: 1px;
      margin: 5px;
      min-width: 15px;
    }
    &:after {
      flex: 5em;
      content: '';
      height: 1px;
      margin: 5px;
    }
  }
  .tree-item {
    cursor: pointer;
    line-height: 1.5;
    overflow: hidden;
    position: relative;
    >div {
      padding: 3px 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;
      &.selected {
        transition: all 50ms;
      }
      >div {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 3px;
      }
      .icon {
        display: inline-flex !important;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 200ms;
      }
      .tree-open-post {
        transform: rotate(-90deg)
      }
      .tree-open-pre {
        transform: rotate(90deg)
      }
    }
    ul {
      padding-left: 20px;
      list-style: none;
    }
  }
  .item-title {
    display: table;
    table-layout: fixed;
    width: 100%;
    >div {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  &.tree-compact {
    font-size: 0.9em;
    .tree-item {
      line-height: 1.3;
      >div {
        padding: 1px 3px;
      }
    }
  }
}

.d-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .d-layout-header {
    left: 0;
    top: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    transition-property: padding-left;
  }
  .d-layout-content {
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
    transition-property: padding-left;
  }
  .d-layout-footer {
    left: 0;
    bottom: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    transition-property: padding-left;
  }
  .d-layout-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    transition-property: all;
    overflow-y: hidden;
  }
  .d-layout-sidebar-mask {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1002;
    width: 100%;
    height: 100%;
    transition-property: background-color
  }
  .d-layout-tab {
    left: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    transition-property: padding-left;
  }
}

// CONTEXT MENU
.context-menu {
  z-index: 7000;
  &.tree {
    .item-title {
      width: auto;
    }
  }
}

// DROPDOWN MENU
.dropdown {
  position: relative;
}
.dropdown-menu {
  z-index: 3000;
  &.tree {
    .item-title {
      width: auto;
    }
  }
}

// PANEL
.d-panel {
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  overflow: hidden;
}

// CARD
.d-card {
  padding: 0;
  .card-header {
    padding: 0.4rem 0.8rem;
    h5 {
      margin: 0;
      padding: 0;
      font-size: 1.2em;
      font-weight: normal;
    }
  }
  .card-body {
    padding: 0.4rem 0.8rem;
  }
  .card-footer {
    padding: 0.4rem 0.8rem;
  }
}

// MODAL

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5000;
  .modal-dialog {
    background-color: #34383e;
    border-radius: 5px;
    padding: 0;
    .modal-content {
      .modal-header {
        padding: 15px 15px;
        h5 {
          margin: 0;
          padding: 0;
          font-size: 1.2em;
          font-weight: normal;
        }
      }
      .modal-body {
        padding: 20px 15px;
      }
      .modal-footer {
        padding: 10px 15px;
      }
    }
  }
}

.fade-enter-active,
.fade-leave-active,
.fade-move {
  transition: all 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// NOTIFICATION

.d-notification-group {
  display: block;
  position: fixed;
  z-index: 7000;
  .d-notification-wrapper {
    display: block;
    //overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .d-notification-template {
    display: block;
    box-sizing: border-box;
    text-align: left;
    &.d-notification {
      display: block;
      box-sizing: border-box;
      text-align: left;
      //font-size: 12px;
      padding: 0.4rem 0.8rem;
      margin: 5px 5px 0 5px;
      border-radius: 5px;
      .d-notification-title {
        font-weight: 600;
      }
    }
  }
}

// INFO PROGRESS

.d-info-progress {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 23px;
  .d-info-progress-icon-container {
    width: 31px;
    height: 31px;
    margin-top: -4px;
    margin-bottom: -4px;
    position: relative;
    .d-info-progress-icon {
      position: absolute;
      z-index: 10;
      width: 31px;
      height: 31px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center
    }
  }
  .d-info-progress-data-container {
    position: relative;
    flex: 1;
    height: 100%;
    .d-info-progress-line {
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      transition: width 200ms;
    }
    .d-info-progress-label {
      position: absolute;
      width: 100%;
      padding-left: 5px;
      top:0;
      bottom:0;
    }
  }
}

// SWITCHER
.d-switcher input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
  display: none;
}

.d-switcher label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  display: block;
  border-radius: 20px;
  position: relative;
}

.d-switcher label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  transition: 0.3s;
}

.d-switcher input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.d-switcher label:active:after {
  width: 26px;
}

// ANGLE

.angleSelect {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  >.container{
    pointer-events: none;
    height: 100%;
    width: fit-content;
    padding: 3px 0;
    box-sizing: border-box;
    >.point{
      width: 5px;
      height: 5px;
      border-radius: 50%;
    }
  }
}

// D-SPLITTER

.d-splitter {
  display: flex;
  width: 100%;
  height: 100%;

  &--vertical {flex-direction: row;}
  &--horizontal {flex-direction: column;}
  &--dragging * {user-select: none;}

  &__pane {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .d-splitter--vertical & {transition: width 0.2s ease-out;}
    .d-splitter--horizontal & {transition: height 0.2s ease-out;}
    .d-splitter--dragging & {transition: none;}
  }

  // Disable default zoom behavior on touch device when double tapping splitter.
  &__splitter {touch-action: none;}
  &--vertical > .d-splitter__splitter {min-width: 1px;cursor: col-resize;}
  &--horizontal > .d-splitter__splitter {min-height: 1px;cursor: row-resize;}
}