body {
  position: relative;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: normal;
  font-style: normal;
  font-size: 0.95rem;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

// HEADERS

.h1, h1 {
  //font-size: calc(1.375rem + 1.5vw);
  font-size: calc(1rem + .9vw);
}

.h2, h2 {
  //font-size: calc(1.325rem + .9vw);
  font-size: calc(1rem + .5vw);
}

.h3, h3 {
  //font-size: calc(1.3rem + .6vw);
  font-size: calc(1rem + .3vw);
}

.h4, h4 {
  //font-size: calc(1.275rem + .3vw);
  font-size: calc(1rem + .1vw);
}

.h5, h5 {
  //font-size: 1.25rem;
  font-size: 1rem;
}

.h6, h6 {
  //font-size: 1rem;
  font-size: 0.8rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

// TEXT
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// PADDING

@for $i from 0 through 5 {
  .p-#{$i} {
    padding: #{$i*10}px;
  }
  .pt-#{$i} {
    padding-top: #{$i*10}px;
  }
  .pb-#{$i} {
    padding-bottom: #{$i*10}px;
  }
  .pl-#{$i} {
    padding-left: #{$i*10}px;
  }
  .pr-#{$i} {
    padding-right: #{$i*10}px;
  }
}

// MARGIN

@for $i from 0 through 5 {
  .m-#{$i} {
    margin: #{$i*10}px;
  }
  .mt-#{$i} {
    margin-top: #{$i*10}px;
  }
  .mb-#{$i} {
    margin-bottom: #{$i*10}px;
  }
  .ml-#{$i} {
    margin-left: #{$i*10}px;
  }
  .mr-#{$i} {
    margin-right: #{$i*10}px;
  }
}

// SIZES

@for $i from 1 through 4 {
  .w-#{$i*25}  { width: #{$i*25%}; }
  .vw-#{$i*25} { width: #{$i*25}vw; }
  .h-#{$i*25}  { height: #{$i*25%}; }
  .vh-#{$i*25} { height: #{$i*25}vh; }
}

// FLEX

.flex-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
