@import "variables";
@import "themes/buttons";
@import "themes/badges";
@import "themes/tree";
@import "themes/scroll";
@import "themes/forms";
@import "themes/slider";

.dark {
  background-color: $dark-background-default;
  color: $dark-text-default;
  .d-blue {color:$dark-blue}
  .d-green {color:$dark-green}
  .d-red {color:$dark-red}
  .d-orange {color:$dark-orange}
  .d-violet {color:$dark-violet}

  .d-stress-blue {color:$blue}
  .d-stress-green {color:$green}
  .d-stress-red {color:$red}
  .d-stress-orange {color:$orange}
  .d-stress-violet {color:$violet}

  .text-blue {color:$blue}
  .text-green {color:$green}
  .text-red {color:$red}
  .text-orange {color:$orange}
  .text-violet {color:$violet}

  .bg-blue {background-color:$dark-blue}
  .bg-green {background-color:$dark-green}
  .bg-red {background-color:$dark-red}
  .bg-orange {background-color:$dark-orange}
  .bg-violet {background-color:$dark-violet}
}

.light {
  background-color: $light-background-default;
  color: $light-text-default;
  .d-blue {color:$blue}
  .d-green {color:$green}
  .d-red {color:$red}
  .d-orange {color:$orange}
  .d-violet {color:$violet}

  .d-stress-blue {color:$dark-blue}
  .d-stress-green {color:$dark-green}
  .d-stress-red {color:$dark-red}
  .d-stress-orange {color:$dark-orange}
  .d-stress-violet {color:$dark-violet}

  .bg-blue {background-color:$blue}
  .bg-green {background-color:$green}
  .bg-red {background-color:$red}
  .bg-orange {background-color:$orange}
  .bg-violet {background-color:$violet}

  .text-blue {color:$dark-blue}
  .text-green {color:$dark-green}
  .text-red {color:$dark-red}
  .text-orange {color:$dark-orange}
  .text-violet {color:$dark-violet}
}

// A
.light {
  a {
    color: $doph-50;
    &:hover {
      color: $doph-90;
    }
  }
}

.dark {
  a {
    color: $doph-20;
    &:hover {
      color: $doph-10;
    }
  }
}

// ICONS /////
.light .icon {
  //color: $light-text-default;
}

.dark .icon {
  //color: $dark-text-default;
}

// SCROLL
.light {
  .lms_scroller {
    background: #c4c4c4;
  }
}

.dark {
  .lms_scroller {
    background: #868686;
  }
}


// LAYOUT //
.light {
  .d-layout {
    background-color: $doph-0; // $light-background-default;
    .d-layout-sidebar {
      background-color: $doph-10; //rgb(229,229,229);
    }
    .d-layout-header, .d-layout-footer {
      background-color: $doph-5; // rgb(240,240,240);
    }
    .d-layout-tab {
      background-color: lighten($doph-15, 15) //rgb(250,250,250);
    }
  }
}

.dark {
  .d-layout {
    background-color: $dark-background-default;
    .d-layout-sidebar {
      background-color: $doph-60, // rgb(73,76,82);
    }
    .d-layout-header, .d-layout-footer {
      background-color: $doph-65; //rgb(62,66,72);
    }
    .d-layout-tab {
      background-color: $doph-75; // rgb(47,50,56);
    }
  }
}

// PANEL
.dark {
  .d-panel {
    background-color: $doph-65;
  }
}

.light {
  .d-panel {
    background-color: $doph-5;
  }
}

// CARD
.dark {
  .d-card {
    .card-header {
      background-color: $doph-60;
      border-bottom: solid 1px #44474C;
    }
    .card-footer {
      background-color: $doph-60;
      border-top: solid 1px #44474C;
    }
  }
}

.light {
  .card-header, .card-footer {
    background-color: $doph-10;
  }
}

// MODAL

.dark {
  .modal {
    background-color: rgba(0,0,0,0.5);
    .modal-dialog {
      box-shadow: 0 0 15px 5px rgba(0,0,0,0.5);
      .modal-content {
        color: #CCCCCC;
        .modal-header {
          border-bottom: solid 1px rgba(255,255,255,0.1);
          background-color: rgba(0,0,0,0.1);
        }
        .modal-footer {
          border-top: solid 1px rgba(255,255,255,0.1);
          background-color: rgba(0,0,0,0.1);
        }
      }
    }
  }
}


.light {
  .modal {
    background-color: rgba(255,255,255,0.5);
    .modal-dialog {
      background-color: #FFFFFF;
      box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
      .modal-content {
        color: $doph-50;
        .modal-header {
          border-bottom: solid 1px rgba(0,0,0,0.1);
          background-color: rgba(0,0,0,0.05);
        }
        .modal-footer {
          border-top: solid 1px rgba(0,0,0,0.1);
          background-color: rgba(0,0,0,0.05);
        }
      }
    }
  }
}

// NOTIFICATION

.light {
  .d-notification-group {
    .d-notification-template {
      background: white;
      &.d-notification {
        color: $light-text-default;
        background: $doph-5;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
        &.primary {
          background: $light-background-blue;
        }
        &.warning {
          background: $light-background-orange;
        }
        &.error {
          background: $light-background-red;
        }
        &.success {
          background: $light-background-green;
        }
      }
    }
  }
}

.dark {
  .d-notification-group {
    .d-notification-template {
      background: white;
      &.d-notification {
        color: white;
        background: $doph-50;
        box-shadow: 0 0 5px rgba(0,0,0,0.7);
        &.primary {
          background: $dark-background-blue;
        }
        &.warning {
          background: $dark-background-orange;
        }
        &.error {
          background: $dark-background-red;
        }
        &.success {
          background: $dark-background-green;
        }
      }
    }
  }
}

// INFO PROGRESS

.dark {
  .d-info-progress {
    color: $doph-10;
    background-color: $doph-75;
    .d-info-progress-icon-container {
      .d-info-progress-icon {
        background-color: $doph-55;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
      }
    }
    .d-info-progress-data-container {
      .d-info-progress-line {
        background-color: $doph-55;
      }
    }
    &.d-info-progress-primary {
      .d-info-progress-icon {
        background-color: $dark-background-blue;
      }
      .d-info-progress-line {
        background-color: $dark-background-blue;
      }
    }
    &.d-info-progress-success {
      .d-info-progress-icon {
        background-color: $dark-background-green;
      }
      .d-info-progress-line {
        background-color: $dark-background-green;
      }
    }
    &.d-info-progress-error {
      .d-info-progress-icon {
        background-color: $dark-background-red;
      }
      .d-info-progress-line {
        background-color: $dark-background-red;
      }
    }
    &.d-info-progress-warning {
      .d-info-progress-icon {
        background-color: $dark-background-orange;
      }
      .d-info-progress-line {
        background-color: $dark-background-orange;
      }
    }
  }
}

.light {
  .d-info-progress {
    background-color: $doph-5;
    .d-info-progress-icon-container {
      .d-info-progress-icon {
        background-color: $doph-25;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
      }
    }
    .d-info-progress-data-container {
      .d-info-progress-line {
        background-color: $doph-25;
      }
    }
    &.d-info-progress-primary {
      .d-info-progress-icon {
        background-color: $light-background-blue;
      }
      .d-info-progress-line {
        background-color: $light-background-blue;
      }
    }
    &.d-info-progress-success {
      .d-info-progress-icon {
        background-color: $light-background-green;
      }
      .d-info-progress-line {
        background-color: $light-background-green;
      }
    }
    &.d-info-progress-error {
      .d-info-progress-icon {
        background-color: $light-background-red;
      }
      .d-info-progress-line {
        background-color: $light-background-red;
      }
    }
    &.d-info-progress-warning {
      .d-info-progress-icon {
        background-color: $light-background-orange;
      }
      .d-info-progress-line {
        background-color: $light-background-orange;
      }
    }
  }
}

// TABS
.light {
  .d-tabs {
    border-bottom: solid 1px $opacity-black-10;
    .d-tab-title:not(.active) {
      border-bottom: solid 3px transparent;
    }
    .d-tab-title.active {
      border-bottom: solid 3px $blue;
    }
  }
}

.dark {
  .d-tabs {
    border-bottom: solid 1px $opacity-white-10;
    .d-tab-title:not(.active) {
        border-bottom: solid 3px transparent;
    }
    .d-tab-title.active {
      border-bottom: solid 3px $blue;
    }
  }
}

// ANGLE
.light {
  .angleSelect {
    border: 2px solid $doph-30;
    >.container{
      >.point{
        background-color: $doph-50;
      }
    }
  }
}

.dark {
  .angleSelect {
    border: 2px solid $doph-50;
    >.container{
      >.point{
        background-color: $doph-20;
      }
    }
  }
}

// D-SPLITTER

.light {
  .d-splitter {
    .d-splitter__panel {
      background-color: #f2f2f2;
    }

    .d-splitter__splitter {
      background-color: #fff;
      box-sizing: border-box;
      position: relative;
      flex-shrink: 0;

      &:before, &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: rgba(0, 0, 0, .15);
        transition: background-color 0.3s;
      }
      &:hover:before, &:hover:after {background-color: rgba(0, 0, 0, .25);}
      &:first-child {cursor: auto;}
    }
  }

  .d-splitter--dragging {
    user-select: none;
    pointer-events: none;
  }

  &.d-splitter .d-splitter .d-splitter__splitter {z-index: 1;}
  &.d-splitter--vertical > .d-splitter__splitter,
  .d-splitter--vertical > .d-splitter__splitter {
    border-left: 1px solid #eee;
    margin-left: -1px;

    &:before, &:after {
      transform: translateY(-50%);
      width: 1px;
      height: 30px;
    }
    &:before {margin-left: -2px;}
    &:after {margin-left: 1px;}
  }

  &.d-splitter--horizontal > .d-splitter__splitter,
  .d-splitter--horizontal > .d-splitter__splitter {
    border-top: 1px solid #eee;
    margin-top: -1px;

    &:before, &:after {
      transform: translateX(-50%);
      width: 30px;
      height: 1px;
    }
    &:before {margin-top: -2px;}
    &:after {margin-top: 1px;}
  }
}

.dark {
  .d-splitter {
    .d-splitter__panel {
      //background-color: #f2f2f2;
    }

    .d-splitter__splitter {
      background-color: rgba(0,0,0,0.3);
      box-sizing: border-box;
      position: relative;
      flex-shrink: 0;

      &:before, &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: rgba(255, 255, 255, .15);
        transition: background-color 0.3s;
      }
      &:hover:before, &:hover:after {background-color: rgba(255, 255, 255, .25);}
      &:first-child {cursor: auto;}
    }
  }

  .d-splitter--dragging {
    user-select: none;
    pointer-events: none;
  }

  &.d-splitter .d-splitter .d-splitter__splitter {z-index: 1;}
  &.d-splitter--vertical > .d-splitter__splitter,
  .d-splitter--vertical > .d-splitter__splitter {
    border-left: 1px solid #333;
    margin-left: -1px;

    &:before, &:after {
      transform: translateY(-50%);
      width: 1px;
      height: 30px;
    }
    &:before {margin-left: -2px; display: v-bind(handlerStyle);}
    &:after {margin-left: 1px; display: v-bind(handlerStyle);}
  }

  &.d-splitter--horizontal > .d-splitter__splitter,
  .d-splitter--horizontal > .d-splitter__splitter {
    border-top: 1px solid #333;
    margin-top: -1px;

    &:before, &:after {
      transform: translateX(-50%);
      width: 30px;
      height: 1px;
    }
    &:before {margin-top: -2px; display: v-bind(handlerStyle);}
    &:after {margin-top: 1px; display: v-bind(handlerStyle);}
  }
}