$gray: #cccccc;
$blue: #51c0e7;
$green: #60d7ad; //#90d760;  //#329d6b
$red: #ff9292;
$orange: #ffc458;
$violet: #c2a7ff;

$light-text-default: #333333;
$light-text-default-hover: #000000;

$light-text-gray: darken($gray, 30);
$light-text-blue: darken(desaturate($blue, 60), 30);
$light-text-green: darken(desaturate($green, 60), 30);
$light-text-red: darken(desaturate($red, 60), 30);
$light-text-orange: darken(desaturate($orange, 60), 30);
$light-text-violet: darken(desaturate($violet, 60), 30);

$light-background-default: #ffffff;

$light-background-gray: #E0E0E0; //rgba($gray, 0.6);
$light-background-blue: #97D9F1; //rgba($blue, 0.6);
$light-background-green: #A0E7CE; //rgba($green, 0.6);
$light-background-red: #FFBEBE; //rgba($red, 0.6);
$light-background-orange: #FFDC9B; //rgba($orange, 0.6);
$light-background-violet: #DACAFF; //rgba($violet, 0.6);

$light-background-gray-hover: rgba($gray, 0.8);
$light-background-blue-hover: rgba($blue, 0.8);
$light-background-green-hover: rgba($green, 0.8);
$light-background-red-hover: rgba($red, 0.8);
$light-background-orange-hover: rgba($orange, 0.8);
$light-background-violet-hover: rgba($violet, 0.8);

// DARK ///////////////////////////
$dark-gray: #555555;
$dark-blue: #02769f; //#0092c5; //#1685ac;
$dark-green: #00a177; //#11755b; //#00a55a; //#319d6c; //#5d9d31;
$dark-red: #da4444; //#c33737;
$dark-orange: #d48900; // #d59622;
$dark-violet: #7750d2;

$dark-text-default: #cccccc;
$dark-text-default-hover: #ffffff;

$dark-text-gray: lighten($dark-gray, 30);
$dark-text-blue: lighten($dark-blue, 30);
$dark-text-green: lighten(desaturate($dark-green, 60), 30);
$dark-text-red: lighten(desaturate($dark-red, 60), 30);
$dark-text-orange: lighten(desaturate($dark-orange, 60), 30);
$dark-text-violet: lighten(desaturate($dark-violet, 60), 30);

$dark-background-default: #34383e;

$dark-background-gray: $dark-gray;
$dark-background-blue: $dark-blue;
$dark-background-green: $dark-green;
$dark-background-red: $dark-red;
$dark-background-orange: $dark-orange;
$dark-background-violet: $dark-violet;

$dark-background-gray-hover: rgba($dark-gray, 0.8);
$dark-background-blue-hover: rgba($dark-blue, 0.8);
$dark-background-green-hover: rgba($dark-green, 0.8);
$dark-background-red-hover: rgba($dark-red, 0.8);
$dark-background-orange-hover: rgba($dark-orange, 0.8);
$dark-background-violet-hover: rgba($dark-violet, 0.8);

// BW

$black   : rgb(0,0,0);
$black-95: rgb(13,13,13);
$black-90: rgb(25,25,25);
$black-85: rgb(38,38,38);
$black-80: rgb(51,51,51);
$black-70: rgb(74,74,74);
$black-65: rgb(88,88,88);
$black-60: rgb(102,102,102);
$black-50: rgb(127,127,127);
$black-40: rgb(153,153,153);
$black-30: rgb(178,178,178);
$black-20: rgb(204,204,204);
$black-15: rgb(211,211,211);
$black-10: rgb(229,229,229);
$black-5: rgb(242,242,242);

// doph
$doph-100: #000000;
$doph-95: #09090a;
$doph-90: #111315;
$doph-85: #1a1c1f;
$doph-80: #232529;
$doph-75: #2b2f34;
$doph-70: #34383e; // BG
$doph-65: #43464c;
$doph-60: #51545a;
$doph-55: #606367;
$doph-50: #6e7175;
$doph-45: #7c7f83;
$doph-40: #8b8d91;
$doph-35: #9a9c9f;
$doph-30: #a8aaac;
$doph-25: #b7b8ba;
$doph-20: #c5c6c8;
$doph-15: #d4d4d6;
$doph-10: #e2e3e3;
$doph-5: #f0f1f1;
$doph-0: #FFFFFF;

// opacity
$opacity-black-10: rgba(0,0,0, 0.1);

$opacity-white-10: rgba(255,255,255, 0.1);