<script setup>
// https://github.com/cameronhimself/vue-drag-drop/tree/master

import DTransferStore from '@/stores/drag.store.js'
import { dropEffects, effectsAllowed, events } from '@/components/DDragDrop/constants.js'
import {computed, ref, useSlots} from "vue";

const slots = useSlots()

const props = defineProps({
  draggable: { type: Boolean, default: true },
  transferData: {},
  dropEffect: { validator: (value) => value in dropEffects },
  effectAllowed: { validator: (value) => value in effectsAllowed },
  image: String,
  imageXOffset: { type: Number, default: 0 },
  imageYOffset: { type: Number, default: 0 },
  hideImageHtml: { type: Boolean, default: false },
  tag: { type: String, default: 'div' },
})

const dragging = ref(false)

//const events = computed(() => events)

const scopedData = computed(() => {
  return dragging && props.transferData
})

const hideImageStyle = computed(() => {
  return { position: 'fixed', top: '-1000px' }
})

const emitEvent = (name, nativeEvent) => {
  const transfer = nativeEvent.dataTransfer;

  // Set drop effect on dragenter and dragover
  if ([events.dragenter, events.dragover].includes(name)) {
    if (props.dropEffect) {
      transfer.dropEffect = props.dropEffect;
    }
  }

  // A number of things need to happen on drag start
  if (name === events.dragstart) {
    // Set the allowed effects
    if (props.effectAllowed) {
      transfer.effectAllowed = props.effectAllowed;
    }

    // Set the drag image
    if (props.image || slots.image) {
      let image;
      if (props.image) {
        image = new Image();
        image.src = props.image;
      } else if (slots.image) {
        image = slots.image[0].elm;
      }
      if (transfer.setDragImage) {
        transfer.setDragImage(image, props.imageXOffset, props.imageYOffset);
      }
    }

    // Set the transfer data
    if (props.transferData !== undefined) {
      DTransferStore.data = props.transferData;
      // Set a dummy string for the real transfer data. Not actually used
      // for anything, but necessary for browser compatibility.
      //
      // TODO: Maybe this should be the actual data serialized. But since
      // it's not actually used for anything it seems like a waste of CPU.
      nativeEvent.dataTransfer.setData('text', '');
    }

    // Indicate that we're dragging.
    dragging.value = true;
  }
}
</script>

<template>
  <component :is="tag"
             :draggable="props.draggable"
             @drag="emitEvent(events.drag, $event)"
             @dragstart.stop="emitEvent(events.dragstart, $event)"
             @dragenter="emitEvent(events.dragenter, $event)"
             @dragleave="emitEvent(events.dragleave, $event)"
             @dragend="emitEvent(events.dragend, $event)"
  >
    <slot :transfer-data="scopedData"></slot>
    <div v-if="hideImageHtml" :style="hideImageStyle">
      <slot name="image" :transfer-data="scopedData"></slot>
    </div>
    <slot v-else name="image" :transfer-data="scopedData"></slot>
  </component>
</template>
