<script setup>
import DTransferStore from '@/stores/drag.store.js';
import { events } from '@/components/DDragDrop/constants.js';
import { reactive, ref, computed } from 'vue';
import {bounds} from "@/libs/functions.js";

let transferData = reactive({});
const isDraggingOver = ref('false');
const el = ref(null)

const emit = defineEmits(Object.keys(events))

const insideElements = new Set();

// Props
const props = defineProps({
  tag: { type: String, default: 'div' },
});

// Computed
//const events = computed(() => events)

const scopedData = computed(() => {
  return isDraggingOver.value && transferData;
})


// Methods
const emitEvent = (name, nativeEvent) => {
  transferData = DTransferStore.data;
  emit(name, nativeEvent, transferData);

  /**
   * After emitting the event, we need to determine if we're still
   * dragging inside this Drop. We keep a Set of all elements that we've
   * dragged into, then clear the data if that set is empty.
   */

  // Add to the set on dragenter.
  if (name === events.dragenter) {
    if (insideElements.size || nativeEvent.target === el.value) {
      insideElements.add(nativeEvent.target);
    }
  }

  // Remove from the set on dragleave.
  if (name === events.dragleave) {
    insideElements.delete(nativeEvent.target);
  }

  // A drop resets everything.
  if (name === events.drop) {
    insideElements.clear();
  }

  // Finally, since Vue can't react to Set changes, set a flag indicating drag status.
  isDraggingOver.value = Boolean(insideElements.size);
}

const elementSize = () => {
  return bounds(el)
}

defineExpose({
  elementSize
})
</script>

<template>
  <component :is="tag"
             ref="el"
             @dragenter="emitEvent(events.dragenter, $event)"
             @dragleave="emitEvent(events.dragleave, $event)"
             @dragover.prevent="emitEvent(events.dragover, $event)"
             @drop.prevent="emitEvent(events.drop, $event)"
  >
    <slot :transfer-data="scopedData"></slot>
  </component>
</template>
