<script setup>
import {computed, getCurrentInstance} from "vue";

const emit = defineEmits(["update:modelValue"])

const props = defineProps({
  label: String,
  modelValue: Boolean,
  disabled: {
    type: Boolean,
    default: false,
  },
  change: Function,
  checked: Boolean,
})

const component = getCurrentInstance();
const id = component.uid

const inputValue = computed({
  get: () => props.modelValue,
  set: (val) => {
    emit('update:modelValue', val)
  },
})
</script>

<template>
  <div class="d-checkbox">
    <input v-model="inputValue" :id="`i-${id}`" type="checkbox" :checked="props.checked" :disabled="props.disabled" @change="props.change">
    <label :for="`i-${id}`">{{props.label}}</label>
  </div>
</template>

<style scoped>

</style>