<script setup>
import {computed, onMounted, ref, toRef} from "vue";
import {uuid4} from "@/libs/functions.js";
import RulesLib from "@/libs/rules/rules.lib.js";

const emit = defineEmits(["update:modelValue", "input"])

const props = defineProps({
  form: Object,
  name: String,
  modelValue: String,
  label: String,
  error: String,
  help: String,
  placeholder: String,
  type: {
    type: String,
    default: 'text'
  },
  pre: Object,
  post: Object,
  fieldRules: Object,
  scale: String, // small, large
  focus: Boolean,
  disabled: Boolean
})

const error = ref(props.error)

const elementId = uuid4()

const focused = ref(false) // для цвета бордюра

//form.fields[props.name].ref = ref(null)
const inputRef = ref(null) //!props.form ? ref(null) : props.form.fields[props.name].ref
console.log(props.form.fields[props.name])
props.form.fields[props.name].ref = inputRef

const inputValue = computed({
  get: () => !props.form ? props.modelValue : props.form.fields[props.name].model.value,
  set: (val) => {
    emit('update:modelValue', val)
  },
})

const inputType = computed(() => {
  return props.type === 'password' ? 'password' : 'text'
})

const scaleClass = computed(() => {
  return props.scale
})

const inputEvent = (e) => {
  emit('input', e)
  validate()
}

const rules = computed(() => {
  return !props.form ? props.fieldRules : props.form.fields[props.name].rules
})

const validate = () => {
  error.value = RulesLib.validate(inputValue.value, rules)
  return !!error.value
}

onMounted(() => {
  focus()
})

const focus = () => {
  inputRef.value.focus()
}

const setError = (message) => {
  error.value = message
}

defineExpose({
  focus, setError, validate
})
</script>

<template>
<div class="d-input-string" :class="scaleClass">
  <div style="display: flex; flex-direction: column;">
    <div v-if="props.label" class="d-label">{{props.label}}<span v-if="rules && rules.hasOwnProperty('required')" class="text-red">*</span></div>
    <div style="display: flex; flex-direction: row;">

      <!-- PRE -->
      <div class="d-pre" v-if="props.pre?.outside?.component" :class="props.disabled ? 'disabled' : ''">
        <component :is="props.pre?.outside?.component"/>
      </div>
      <div class="d-pre" v-else-if="props.pre?.outside?.text" :class="props.disabled ? 'disabled' : ''">
        <div class="d-text" :class="focused ? 'focused' : ''">{{props.pre?.outside?.text}}</div>
      </div>

      <div style="flex: 1; position: relative;">
        <!-- Clear pre button -->
        <div
            class="d-pre-inside-button"
            v-if="props.pre?.inside?.action && props.pre?.inside?.action === 'clear' && inputValue.length > 0"
            @click="() => {inputValue = ''}"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41z" fill="currentColor"></path></svg>
        </div>
        <input
            :id="elementId"
            ref="inputRef"
            v-model="inputValue"
            style="width: 100%;"
            :type="inputType"
            :placeholder="props.placeholder"
            @input="inputEvent"
            @focus="() => focused = true"
            @focusout="() => focused = false"
            :class="[
                props.pre?.outside?.component || props.pre?.outside?.text ? 'has-pre' : '',
                props.post?.outside?.component || props.post?.outside?.text ? 'has-post' : '',
                props.pre?.inside?.action ? 'has-pre-inside-button' : '',
                props.post?.inside?.action ? 'has-post-inside-button' : '',
                focused ? 'focused' : ''
            ]"
            :disabled="props.disabled"
        >
        <!-- Clear post button -->
        <div
            class="d-post-inside-button"
            v-if="props.post?.inside?.action && props.post?.inside?.action === 'clear' && inputValue.length > 0"
            @click="() => {inputValue = ''}"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41z" fill="currentColor"></path></svg>
        </div>
      </div>

      <!-- POST -->
      <div class="d-post" v-if="props.post?.outside?.component" :class="props.disabled ? 'disabled' : ''">
        <component :is="props.post?.outside?.component"/>
      </div>
      <div class="d-post" v-else-if="props.post?.outside?.text" :class="props.disabled ? 'disabled' : ''">
        <div class="d-text" :class="focused ? 'focused' : ''">{{props.post?.outside?.text}}</div>
      </div>

    </div>
    <div v-if="props.help" class="d-help">{{props.help}}</div>
    <div v-if="error" class="d-error text-red">{{error}}</div>
  </div>
</div>
</template>

<style scoped>

</style>