<script setup>
import {computed, onMounted, ref} from "vue";
import DButton from "@/components/DButton/DButton.vue"

const emit = defineEmits(["update:modelValue"])

const props = defineProps({
  label: String,
  placeholder: String,
  scale: String, // small, large
  modelValue: String,
  password: Boolean,
  pre: Object,
  post: Object,
  focus: Boolean
})

const inputRef = ref(null)

const fontClass = computed(() => {
  if (props.scale === 'small') {
    return 'd-input-small'
  } else if (props.scale === 'large') {
    return 'd-input-large'
  }
  return ''
})

const inputValue = computed({
  get: () => props.modelValue,
  set: (val) => {
    emit('update:modelValue', val)
  },
})

onMounted(() => {
  if (props.focus) {
    focus()
  }
})

const focus = () => {
  inputRef.value.focus()
}

defineExpose({
  focus
})
</script>

<template>
  <div class="d-input" v-if="!props.post && !props.pre">
    <div v-if="props.label" class="label">{{props.label}}</div>
    <input ref="inputRef" v-model="inputValue" :type="props.password ? 'password' : 'text'" :class="fontClass" :placeholder="props.placeholder" style="width:100%">
  </div>

  <div class="d-input" v-else-if="props.post && props.post.click && !props.pre" style="display: flex; flex-direction: column;">
    <div v-if="props.label" class="label">{{props.label}}</div>
    <div style="display: flex; align-items: flex-end; justify-content: flex-start;">
      <div style="flex: 1;">
        <input ref="inputRef" class="d-input-post-field" v-model="inputValue" :type="props.password ? 'password' : 'text'" :class="fontClass" :placeholder="props.placeholder" style="width:100%">
      </div>
      <d-button v-if="props.post.label" :scale="props.scale" class="d-input-post-button" @click="props.post.click" :icon="props.post.icon" :class="props.post.class">{{props.post.label}}</d-button>
      <d-button v-else :scale="props.scale" class="d-input-post-button" @click="props.post.click" :icon="props.post.icon" :class="props.post.class"></d-button>
    </div>
  </div>

  <div class="d-input" v-else-if="!props.post && props.pre && props.pre.click" style="display: flex; flex-direction: column;">
    <div v-if="props.label" class="label">{{props.label}}</div>
    <div style="display: flex; align-items: flex-end; justify-content: flex-start;">
      <d-button v-if="props.pre.label" :scale="props.scale" class="d-input-pre-button" @click="props.pre.click" :icon="props.pre.icon" :class="props.pre.class">{{props.pre.label}}</d-button>
      <d-button v-else :scale="props.scale" class="d-input-pre-button" @click="props.pre.click" :icon="props.pre.icon" :class="props.pre.class"></d-button>
      <div style="flex: 1;">
        <input ref="inputRef" class="d-input-pre-field" v-model="inputValue" :type="props.password ? 'password' : 'text'" :class="fontClass" :placeholder="props.placeholder" style="width:100%">
      </div>
    </div>
  </div>
</template>

<style scoped>
*, ::after, ::before {
  box-sizing: border-box;
}
</style>