<script setup>
import {computed, onMounted, ref, useSlots} from "vue";
import {isVueComponent, uuid4} from "@/libs/functions.js";
import RulesLib from "@/libs/rules/rules.lib.js";

const emit = defineEmits(["update:modelValue", "input", "blur"])

const slots = useSlots()

const props = defineProps({
  form: Object,
  name: String,
  modelValue: String,
  label: String,
  error: String,
  help: String,
  placeholder: String,
  type: {
    type: String,
    default: 'text'
  },
  fieldRules: Object,
  scale: String, // small, large
  focus: Boolean,
  disabled: Boolean,
  readonly: Boolean,
  clear: Boolean,
  autocomplete: {
    type: Boolean,
    default: false
  }
})

const error = ref(props.error)

const elementId = uuid4()

const focused = ref(false) // для цвета бордюра
const readonly = ref(false)

//form.fields[props.name].ref = ref(null)
const inputRef = ref(null) //!props.form ? ref(null) : props.form.fields[props.name].ref
//console.log(props.form.fields[props.name])
//props.form.fields[props.name].ref = inputRef

const inputValue = computed({
  get: () => props.modelValue, //props.form?.fields[props.name].model.value,
  set: (val) => {
    emit('update:modelValue', val)
    //console.log('R: ', val)
    //console.log('F: ', props.form.fields[props.name].model.value)
    //console.log('M: ', props.modelValue)
    //props.form.fields[props.name].model.value = 'eeee'
    //console.log('F: ', props.form.fields[props.name].model.value)
  },
})

const inputType = computed(() => {
  return props.type // === 'password' ? 'password' : 'text'
})

const scaleClass = computed(() => {
  return props.scale
})

const inputEvent = (e) => {
  emit('input', e)
  validate()
}

const validate = () => {
  if (!props.form || !props.form.fields || !props.form.fields[props.name].rules) {
    return
  }
  error.value = RulesLib.validate(inputValue.value, props.form.fields[props.name].rules)
  return !!error.value
}

onMounted(() => {
  readonly.value = props.readonly
  if (!props.autocomplete && !readonly.value) {
    readonly.value = true
    setTimeout(() => {
      readonly.value = false
    }, 500)
  }
  focus()
})


const focus = () => {
  inputRef.value?.focus()
}

const clearInput = () => {
  inputValue.value = ''
}

const setFocused = (value) => {
  focused.value = value
}

const setError = (message) => {
  error.value = message
}

const blur = (e) => {
  emit('blur', e)
}

defineExpose({
  focus, setError, validate
})
</script>

<template>
<div class="d-input-string" :class="scaleClass">
  <div style="display: flex; flex-direction: column;">
    <div
        v-if="props.label"
        class="d-label"
    >{{props.label}}<span v-if="props.form?.fields[props.name].rules && props.form.fields[props.name].rules.hasOwnProperty('required')" class="text-red">*</span>
    </div>
    <div style="display: flex; flex-direction: row;">

      <div v-if="slots.pre" class="d-pre"><slot name="pre"></slot></div>


      <!-- PRE -->
<!--      <div class="d-pre" v-if="props.pre?.outside?.component" :class="props.disabled ? 'disabled' : ''">
        <component :is="props.pre?.outside?.component"/>
      </div>
      <div class="d-pre" v-else-if="props.pre?.outside?.text" :class="props.disabled ? 'disabled' : ''">
        <div class="d-text" :class="focused ? 'focused' : ''">{{props.pre?.outside?.text}}</div>
      </div> -->

      <div style="flex: 1; position: relative;">
        <!-- Clear pre button -->
        <!-- <div
            class="d-pre-inside-button"
            v-if="props.pre?.inside?.action && props.pre?.inside?.action === 'clear' && inputValue?.length > 0"
            @click="clearInput"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41z" fill="currentColor"></path></svg>
        </div> -->
        <input
            :id="elementId"
            ref="inputRef"
            v-model="inputValue"
            style="width: 100%;"
            :type="inputType"
            :placeholder="props.placeholder"
            @input="inputEvent"
            @focus="setFocused(true)"
            @blur="blur"
            @focusout="setFocused(false)"
            :class="[
                slots.pre ? 'has-pre' : '',
                slots.post ? 'has-post' : '',
                //slots.pre || props.pre?.outside?.component || props.pre?.outside?.text ? 'has-pre' : '',
                //slots.post || props.post?.outside?.component || props.post?.outside?.text ? 'has-post' : '',
                //props.pre?.inside?.action ? 'has-pre-inside-button' : '',
                //props.post?.inside?.action ? 'has-post-inside-button' : '',
                focused ? 'focused' : ''
            ]"
            :disabled="props.disabled"
            :readonly="readonly"
        >
        <!-- Clear post button -->
        <!-- v-if="props.post?.inside?.action && props.post?.inside?.action === 'clear' && inputValue?.length > 0" -->
        <div
            class="d-post-inside-button"
            v-if="props.clear && inputValue?.length > 0"
            @click="clearInput"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41z" fill="currentColor"></path></svg>
        </div>
      </div>

      <div v-if="slots.post" class="d-post"><slot name="post"></slot></div>

      <!-- POST -->
      <!--<div class="d-post" v-if="props.post?.outside?.component" :class="props.disabled ? 'disabled' : ''">
        <component :is="props.post?.outside?.component"/>
      </div>
      <div class="d-post" v-else-if="props.post?.outside?.text" :class="props.disabled ? 'disabled' : ''">
        <div class="d-text" :class="focused ? 'focused' : ''">{{props.post?.outside?.text}}</div>
      </div> -->

    </div>
    <div v-if="props.help" class="d-help">{{props.help}}</div>
    <div v-if="error" class="d-error text-red">{{error}}</div>
  </div>
</div>
</template>

<style scoped>

</style>