<script setup>
import {computed, onMounted, ref, useSlots} from "vue";
import {uuid4} from "@/libs/functions.js";
import RulesLib from "@/libs/rules/rules.lib.js";

const emit = defineEmits(["update:modelValue", "input", "blur"])

const slots = useSlots()

const props = defineProps({
  form: Object,
  name: String,
  modelValue: String,
  label: String,
  error: String,
  help: String,
  placeholder: String,
  fieldRules: Object,
  scale: String, // small, large
  focus: Boolean,
  disabled: Boolean,
  readonly: Boolean,
  toggleView: {
    type: Boolean,
    default: true
  },
  autocomplete: {
    type: Boolean,
    default: false
  }
})

const error = ref(props.error)

const elementId = uuid4()

const focused = ref(false) // для цвета бордюра
const readonly = ref(false)
const inputType = ref('password')

//form.fields[props.name].ref = ref(null)
const inputRef = ref(null) //!props.form ? ref(null) : props.form.fields[props.name].ref
//console.log(props.form.fields[props.name])
//props.form.fields[props.name].ref = inputRef

const inputValue = computed({
  get: () => props.modelValue, //props.form?.fields[props.name].model.value,
  set: (val) => {
    emit('update:modelValue', val)
    //console.log('R: ', val)
    //console.log('F: ', props.form.fields[props.name].model.value)
    //console.log('M: ', props.modelValue)
    //props.form.fields[props.name].model.value = 'eeee'
    //console.log('F: ', props.form.fields[props.name].model.value)
  },
})

const scaleClass = computed(() => {
  return props.scale
})

const inputEvent = (e) => {
  emit('input', e)
  validate()
}

const validate = () => {
  if (!props.form || !props.form.fields || !props.form.fields[props.name].rules) {
    return
  }
  error.value = RulesLib.validate(inputValue.value, props.form.fields[props.name].rules)
  return !!error.value
}

onMounted(() => {
  readonly.value = props.readonly
  if (!props.autocomplete && !readonly.value) {
    readonly.value = true
    setTimeout(() => {
      readonly.value = false
    }, 500)
  }
  focus()
})

const focus = () => {
  inputRef.value?.focus()
}

const toggleInput = () => {
  inputType.value = inputType.value === 'password' ? 'text' : 'password'
}

const setFocused = (value) => {
  focused.value = value
}

const setError = (message) => {
  error.value = message
}

const blur = (e) => {
  emit('blur', e)
}

defineExpose({
  focus, setError, validate
})
</script>

<template>
<div class="d-input-string" :class="scaleClass">
  <div style="display: flex; flex-direction: column;">
    <div
        v-if="props.label"
        class="d-label"
    >{{props.label}}<span v-if="props.form?.fields[props.name].rules && props.form.fields[props.name].rules.hasOwnProperty('required')" class="text-red">*</span>
    </div>
    <div style="display: flex; flex-direction: row;">

      <div style="flex: 1; position: relative;">
        <input
            :id="elementId"
            ref="inputRef"
            v-model="inputValue"
            style="width: 100%;"
            :type="inputType"
            :placeholder="props.placeholder"
            @input="inputEvent"
            @focus="setFocused(true)"
            @blur="blur"
            @focusout="setFocused(false)"
            :class="[
                slots.pre ? 'has-pre' : '',
                slots.post ? 'has-post' : '',
                focused ? 'focused' : ''
            ]"
            :disabled="props.disabled"
            :readonly="readonly"
        >
        <div
            class="d-post-inside-button"
            v-if="props.toggleView"
            @click="toggleInput"
        >
          <svg v-if="inputType === 'password'" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><path d="M12 6a9.77 9.77 0 0 1 8.82 5.5C19.17 14.87 15.79 17 12 17s-7.17-2.13-8.82-5.5A9.77 9.77 0 0 1 12 6m0-2C7 4 2.73 7.11 1 11.5C2.73 15.89 7 19 12 19s9.27-3.11 11-7.5C21.27 7.11 17 4 12 4zm0 5a2.5 2.5 0 0 1 0 5a2.5 2.5 0 0 1 0-5m0-2c-2.48 0-4.5 2.02-4.5 4.5S9.52 16 12 16s4.5-2.02 4.5-4.5S14.48 7 12 7z" fill="currentColor"></path></svg>
          <svg v-else xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><path d="M12 6a9.77 9.77 0 0 1 8.82 5.5a9.647 9.647 0 0 1-2.41 3.12l1.41 1.41c1.39-1.23 2.49-2.77 3.18-4.53C21.27 7.11 17 4 12 4c-1.27 0-2.49.2-3.64.57l1.65 1.65C10.66 6.09 11.32 6 12 6zm-1.07 1.14L13 9.21c.57.25 1.03.71 1.28 1.28l2.07 2.07c.08-.34.14-.7.14-1.07C16.5 9.01 14.48 7 12 7c-.37 0-.72.05-1.07.14zM2.01 3.87l2.68 2.68A11.738 11.738 0 0 0 1 11.5C2.73 15.89 7 19 12 19c1.52 0 2.98-.29 4.32-.82l3.42 3.42l1.41-1.41L3.42 2.45L2.01 3.87zm7.5 7.5l2.61 2.61c-.04.01-.08.02-.12.02a2.5 2.5 0 0 1-2.5-2.5c0-.05.01-.08.01-.13zm-3.4-3.4l1.75 1.75a4.6 4.6 0 0 0-.36 1.78a4.507 4.507 0 0 0 6.27 4.14l.98.98c-.88.24-1.8.38-2.75.38a9.77 9.77 0 0 1-8.82-5.5c.7-1.43 1.72-2.61 2.93-3.53z" fill="currentColor"></path></svg>
        </div>
      </div>

    </div>
    <div v-if="props.help" class="d-help">{{props.help}}</div>
    <div v-if="error" class="d-error text-red">{{error}}</div>
  </div>
</div>
</template>

<style scoped>

</style>