<script setup>
import {computed, ref} from "vue";
import DInputString from "./DInputString.vue";
import DAngleSelect from "@/components/DAngleSelect/DAngleSelect.vue";

const emit = defineEmits(["update:modelValue", "change"])

const props = defineProps({
  form: Object,
  modelValue: String,
  label: String
})

const inputValue = computed({
  get: () => props.modelValue,
  set: (val) => {
    emit('update:modelValue', val)
  },
})

const updateAngleFromCircle = (angle) => {
  inputValue.value = `${parseInt(angle)}`
  emit('change', inputValue.value)
}

const filterAngle = () => {
  inputValue.value = inputValue.value.replace(/\D/g,'')
  inputValue.value = inputValue.value ? `${parseInt(inputValue.value)}` : '0'
  if (inputValue.value > 359 || inputValue.value < 0) {
    inputValue.value = '0'
  }
  emit('change', inputValue.value)
}
</script>

<template>
<div class="d-input-angle">
  <div
      v-if="props.label"
      class="d-label"
  >{{props.label}}<span v-if="props.form?.fields[props.name].rules && props.form.fields[props.name].rules.hasOwnProperty('required')" class="text-red">*</span>
  </div>
  <div style="display: flex; gap: 5px; justify-content: center; align-items: center;">
    <d-angle-select :angle="inputValue"  @angle="updateAngleFromCircle" />
    <d-input-string style="flex: 1;" v-model="inputValue" @input="filterAngle" />
  </div>
</div>
</template>

<style scoped>

</style>