<script setup>
import {computed} from "vue";

const emit = defineEmits(["update:modelValue", "change"])

const props = defineProps({
  label: String,
  size: String,
  options: Array,
  modelValue: String,
  scale: String, // small, larger
  disabled: {
    type: Boolean,
    default: false
  }
})

const fontClass = computed(() => {
  return props.scale ? 'd-select-' + props.scale : ''
})

const inputValue = computed({
  get: () => props.modelValue,
  set: (val) => {
    emit('update:modelValue', val)
  },
})

for (let i = 0; i < props.options.length; i++) {
  if (props.options[i].selected) {
    inputValue.value = props.options[i].value
    break
  }
}

const change = (e) => {
  emit("change", e)
}
</script>

<template>
  <div class="d-select">
    <div class="label" v-if="props.label">{{props.label}}</div>
    <select
        v-model="inputValue"
        :class="fontClass"
        :style="props.size === 'wide' ? 'width:100%' : ''"
        :disabled="props.disabled"
        @change="change"
    >
      <option v-for="(option, index) in props.options" :key="index" :value="option.value" :selected="option.selected" :disabled="option.disabled">{{option.label}}</option>
    </select>
  </div>
</template>

<style scoped>

</style>