<script setup>
import {computed, getCurrentInstance} from "vue";

const emit = defineEmits(["update:modelValue", "change"])

const props = defineProps({
  modelValue: Boolean,
  type: {
    type: String,
    default: 'success'
  },
  disabled: {
    type: Boolean,
    default: false,
  },
  //change: Function,
  checked: Boolean,
})

const component = getCurrentInstance();
const id = component.uid

const inputValue = computed({
  get: () => props.modelValue,
  set: (val) => {
    emit('update:modelValue', val)
  },
})
</script>

<template>
  <div class="d-switcher" :class="props.type">
    <input v-model="inputValue" :id="`i-${id}`" type="checkbox" :checked="props.checked" :disabled="props.disabled" @change="emit('change', $event)">
    <label :for="`i-${id}`" :class="props.type">Toggle</label>
  </div>
</template>

<style scoped>

</style>