<script setup>
import {computed, onMounted, ref} from "vue";

const emit = defineEmits(["update:modelValue", "change", "input"])

const props = defineProps({
  label: String,
  placeholder: String,
  scale: String, // small, large
  modelValue: String,
  rows: {
    type: Number,
    default: 3
  },
  cols: {
    type: Number,
    default: null
  },
  autoHeight: {
    type: Boolean,
    default: false
  },
  minHeight: {
    type: String,
    default: 'auto'
  },
  maxHeight: {
    type: String,
    default: '120px'
  },
  focus: Boolean,
  disabled: Boolean
})

const inputRef = ref(null)

const fontClass = computed(() => {
  if (props.scale === 'small') {
    return 'd-textarea-small'
  } else if (props.scale === 'large') {
    return 'd-textarea-large'
  }
  return ''
})

const inputValue = computed({
  get: () => props.modelValue,
  set: (val) => {
    emit('update:modelValue', val)
  },
})

onMounted(() => {
  if (props.focus) {
    focus()
  }
})

const focus = () => {
  inputRef.value.focus()
}

const reset = () => {
  inputRef.value.style.height = 'auto'
}

const adjustTextarea = (e) => {
  emit("input", e)
  if (props.autoHeight) {
    //inputRef.value.style.resize = 'none'
    inputRef.value.style.overflow = 'hidden'
    inputRef.value.style.minHeight = props.minHeight
    inputRef.value.style.maxHeight = props.maxHeight
    inputRef.value.style.height = 'auto'
    inputRef.value.style.height = `${inputRef.value.scrollHeight}px`
  }
}

const update = () => {
  if (props.autoHeight) {
    //inputRef.value.style.resize = 'none'
    inputRef.value.style.height = 'auto'
    inputRef.value.style.height = `${inputRef.value.scrollHeight}px`
  }
}

const element = () => {
  return inputRef
}

const change = (e) => {
  emit("change", e)
}

defineExpose({
  focus, reset, update, element
})
</script>

<template>
  <div class="d-textarea">
    <div v-if="props.label" class="label">{{props.label}}</div>
    <textarea ref="inputRef" v-model="inputValue" v-on:update:modelValue="update" @input="adjustTextarea" @change="change" :rows="props.rows" :cols="props.cols" :placeholder="props.placeholder" :disabled="props.disabled" :class="fontClass" style="width:100%" :style="props.autoHeight ? 'resize:none;' : ''"></textarea>
  </div>
</template>

<style scoped>
*, ::after, ::before {
  box-sizing: border-box;
}
</style>